ipdb
django==3.*
gunicorn
whitenoise[brotli]
dj-database-url

# don't upgrade if django<=2.2.x
psycopg2-binary
django-allauth
django-widget-tweaks
djangorestframework
django-extensions
redis
django-simple-history
jsonfield
django-bootstrap-pagination
newrelic
django-settings-export
oauth2client
authy
phonenumbers
twilio
celery[redis]
django-safedelete
pillow
django-hijack
git+https://github.com/TheSpaghettiDetective/daphne@tsd_stable-2.5.0#egg=daphne
asgiref
# latest version of zope.interface is broken
zope.interface
channels
channels-redis
django-jstemplate
pushbullet.py
pytelegrambotapi
django-channels-presence
backoff
django-webpack-loader
django-qr-code
discord-webhook
bson
firebase-admin
django-cors-headers
pyjwt
django-ipware
django-redis
sentry-sdk
nplusone
colorlog
packaging
numpy

# Dev packages
django-debug-toolbar
