<!-- TODO: delete me after switching to Vue-->
<div>
    <div>
    <h5>Serial Port:</h5>
    </div>
    <div>
            <select name="port" class="form-control selectpicker" id="id-port">
                {{#connectionOptions.ports}}
                <option value={{.}}>{{.}}</option>
                {{/connectionOptions.ports}}
            </select>
    </div>
    <br />
    <div>
    <h5>Baudrate:</h5>
    </div>
    <div>
            <select name="baudrate" class="form-control selectpicker" id="id-baudrate">
                <option value="">Auto</option>
                {{#connectionOptions.baudrates}}
                <option value={{.}}>{{.}}</option>
                {{/connectionOptions.baudrates}}
            </select>
    </div>
</div>
