{{^valid}}
{{^printing}}
-
{{/printing}}
{{#printing}}
<i class="fa fa-spinner fa-pulse"></i>
{{/printing}}
{{/valid}}
{{#valid}}
{{#showHours}}
{{hours}}<span class="text-subscript text-muted">h</span>
{{/showHours}}
{{#showMinutes}}
{{minutes}}<span class="text-subscript text-muted">m</span>
{{/showMinutes}}
{{#showSeconds}}
{{seconds}}<span class="text-subscript text-muted">s</span>
{{/showSeconds}}
{{/valid}}
