{{#temperatures}}
<div class="row">
<div class="col-3 numbers">
    <span class="text-subscript text-muted">{{toolName}}</span>
</div>
<div class="col-5 numbers">
    {{actual}}<span class="text-subscript text-muted">°C</span>
</div>
<div class="col-4 numbers">
    {{target}}<span class="text-subscript text-muted">°C</span>
</div>
</div>
{{/temperatures}}
