<div class="text-center">
    <h1 class="target-temp-degree">0</h1>
</div>
<br />
<div style="min-height: 15rem;">
    <div>
    <h5>Presets:</h5>
    </div>
    <div>
            <select name="preset" class="form-control selectpicker" id="id_preset">
                <option value="-1">Manual</option>
                <option value="0">OFF</option>
                {{#presets}}
                <option value={{target}}>{{name}} ({{target}}°C)</option>
                {{/presets}}
            </select>
    </div>
    <br />
    <h5>Manual:</h5>
    <div>
            <input id="target-temp" data-slider-id='target-temp-slider' type="text"
            data-slider-min="0" data-slider-max="{{maxTemp}}" data-slider-step="1"
            data-slider-value="0" />
    </div>
</div>
