{% load static %}

<div class="form-container">
  <form id="consent_form" method="POST" action="{{ request.path }}">
    {% csrf_token %}
    <div class="form-group row">
        <div class="col-sm-12">
            <div style="margin-bottom: 1rem;">
              <div class="custom-control custom-checkbox form-check-inline">
                <input type="checkbox" class="custom-control-input" id="consented">
                <label class="custom-control-label" style="font-size: 16px;" for="consented">I agree to The Spaghetti Detective's <a class="link" href="https://www.thespaghettidetective.com/terms.html">Terms of Use</a> and <a class="link" href="https://www.thespaghettidetective.com/privacy.html">Privacy Policy</a></label>
              </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary btn-block disabled">{{ button_text|default:"Save" }}</button>
      </div>
    </div>
  </form>
</div>
