{% load static %}

<div>
  Copy and paste this token to OctoPrint TheSpaghettiDetective Plugin settings:
  <div class="input-group my-3">
    <input type="text" id="secret-token-input" class="form-control" value="{{ form.instance.auth_token }}" readonly>
    <div class="input-group-append">
      <button id="copy-to-clipboard" class="btn btn-outline-primary" type="button"
        data-clipboard-target="#secret-token-input">
        <i class="fas fa-clipboard"></i>
      </button>
    </div>
  </div>
  <div class="my-4">
    This is where you enter this secret token in OctoPrint:
    <img src="{% static 'img/paste_token.png' %}" class="my-3" style="width: 100%;" />
  </div>

</div>
