{% load static %}

<div>
  Copy and paste this token to The Spaghetti Detective Plugin settings in OctoPrint:
  <div class="input-group my-3">
    <input type="text" id="secret-token-input" class="form-control" value="{{ form.instance.auth_token }}"
           readonly aria-label="Secret token">
    <div class="input-group-append">
      <button id="copy-to-clipboard" class="btn btn-outline-primary" type="button"
        data-clipboard-target="#secret-token-input" aria-label="Copy secret token to clipboard">
        <i class="fas fa-clipboard"></i>
      </button>
    </div>
  </div>
  <div class="my-4">
    This is where you enter this secret token in OctoPrint:
    <img src="{% static 'img/paste_token.png' %}" class="my-3" alt="Plugin configuration instructions"  style="width: 100%;" />
  </div>

</div>
