{% load static %}

<div class="card-img-top webcam_container">
  <div class="{{ printer.settings.webcam_rotate90|yesno:'webcam_rotated, webcam_unrotated, webcam_unrotated' }}">
    <div class="webcam_fixed_ratio {{ printer.settings.ratio169|yesno:'ratio169, ratio43, ratio43' }}">
      <div class="webcam_fixed_ratio_inner full">
        <img
          class="tagged-jpg {{ printer.settings.webcam_flipH|yesno:'flipH,,' }} {{ printer.settings.webcam_flipV|yesno:'flipV,,' }}"
          src="{% static 'img/3d_printer.png' %}" alt="{{ printer.name }} current image" />
      </div>
      <div id="webrtc-stream" class="webcam_fixed_ratio_inner full ontop">
        <video
          class="remote-video hide {{ printer.settings.webcam_flipH|yesno:'flipH,,' }} {{ printer.settings.webcam_flipV|yesno:'flipV,,' }}"
          width=960 height={{ printer.settings.ratio169|yesno:'540,720,720' }} autoplay muted playsinline>
        </video>
      </div>
    </div>
  </div>
</div>
