
{% extends 'email/layout.html' %}

{% block email_content %}

<p>Hi {{ print.printer.user.first_name|default:"" }},</p>

<p>
  {% if print.is_canceled %}
  Heads up! Your print job has been canceled.
  {% else %}
  Your print job is done.
  {% endif %}
<p>

<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><b>File name:</b> {{ print.filename }}</td>
  </tr>
  <tr>
    <td><b>Print time:</b> {{ print_time }}</td>
  </tr>
</table>


<table border="0" cellspacing="0" cellpadding="0" style="margin:0 auto; padding-top:16px; width: 100%; ">
  {% if print.printer.should_watch %}
    <tr>
      <td class="mobile-cta-button-row" style="padding: 6px 18px 6px 18px; height:40px; width: 100%; ">
          👉 <b>
              {% if print.alerted_at %}
              The Detective found possible failures for this print.
              {% else %}
              The Detective didn't find any problems with this print.
              {% endif %}
            </b>Help her get better by <a href="{{ timelapse_link }}">telling her if she got it right</a> and <a href="https://www.thespaghettidetective.com/docs/how-does-credits-work/?utm_source=TSD&utm_medium=email&utm_campaign=print_notice">earn some Detective Hours for yourself</a>.
      </td>
    </tr>
  {% endif %}
  {% if print.printer.user.dh_balance < 5 %}
  <tr>
      <td class="mobile-cta-button-row" style="padding: 6px 18px 6px 18px; height:40px; width: 100%; ">
          👉 You are running low on Detective Hours. <a href="https://app.thespaghettidetective.com/ent/pricing/?utm_source=TSD&utm_medium=email&utm_campaign=print_notice#need-more">Get more</a> if you want The Detective to keep watching your prints.
      </td>
    </tr>
  {% endif %}
  <tr>
    <td class="mobile-cta-button-row" style="padding: 6px 18px 6px 18px; height:40px; width: 100%; ">
        👉 No longer want to receive print notifications by email? <a href="{{ unsub_url }}">Unsubscribe</a> or <a href="https://app.thespaghettidetective.com/user_preferences/">change notification preferences.</a>
    </td>
  </tr>
  </table>


{% if img_url %}
<table border="0" cellspacing="0" cellpadding="0" style="margin:0 auto; padding-top:16px; width: 100%; ">
  <tr>
    <td><img style="width: 100%;" alt="Print Snapshot" src="{{ img_url }}" /></td>
  </tr>
</table>
{% endif %}

{% endblock %}
