{% extends settings.TEMPLATE_LAYOUT %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-sm-11 col-md-10 col-lg-8">
    <br /><br /><br />
    <div class="form-group row">
      <div class="col-sm-12">
        <h4>Wait! We need to record your consent according to regulations such as <a class="link" href="https://gdpr.eu/gdpr-consent-requirements/">GDPR</a>.</h4>
      </div>
    </div>
    {% include 'includes/_consent_form.html' %}
  </div>
</div>

{% endblock content %}

{% block page_js %}
<script src="{% static 'js/consent.js' %}"></script>
{% endblock page_js %}
