{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TSD - The Spaghetti Detective</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <!-- Bootstrap core CSS-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@8.0.1/dist/sweetalert2.min.css" integrity="sha256-/PVkO2+mUlKqE6wgKVXU5Wh4mx3vncHAxLEdpXrziGo="
    crossorigin="anonymous">
  <link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/css/bootstrap-slider.min.css" integrity="sha256-+xqVrdbLgHjiKF8ULvcwzQ545r7lCVfOqXlNJCB3XOg=" crossorigin="anonymous" />

  <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/css/smart_wizard.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">

  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg' %}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  {% for extrajs in settings.EXTRA_JS %}
  <script async src={{extrajs}}></script>
  {% endfor %}
</head>

<body>
  {% with view_name=request.resolver_match.view_name %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="https://www.thespaghettidetective.com/"><img src="{% static 'img/logo-inverted.png' %}"
          style="height: 28px;" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="https://www.thespaghettidetective.com/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes" aria-expanded="false">Help
              <span class="caret"></span></a>
            <div class="dropdown-menu" aria-labelledby="themes">
              <a class="dropdown-item" href="https://www.thespaghettidetective.com/guide.html">Setup Guide</a>
              <a class="dropdown-item" href="mailto:support@thespaghettidetective.com" >Email Us for Help</a>
            </div>
          </li>
          <li class="nav-item {% if view_name == 'publictimelapse_list' %}active{% endif %}">
              <a class="nav-link glowing" href="/publictimelapses">Spaghetti Gallery</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item {% if  'printers' in view_name %}active{% endif %}">
            <a class="nav-link" href="/printers">My Printers
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes" aria-expanded="false">{{user.first_name|default:user.email}}
              <span class="caret"></span></a>
            <div class="dropdown-menu" aria-labelledby="themes">
                <a class="dropdown-item" href="/user_preferences/">Preferences</a>
              <a class="dropdown-item" href="/accounts/logout/">Log out</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/accounts/login/">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts/signup/">Sign up</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% endwith %}

  <div id="content-wrapper" class="container">
    {% include 'snippets/messages.html' %}
    {% block content %}{% endblock content %}
  </div>
  <!-- /.content-wrapper -->

  <footer>
    <div class="container">
      <p>&copy; The Spaghetti Detective 2018. All Rights Reserved.</p>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
  <script href="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script src="//cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.5/all/gauge.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js" integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.0.1/dist/sweetalert2.all.min.js" integrity="sha256-mG11cus0fNYH261MLgasqxyp+DcMDZOVUvtVey09hP0="
    crossorigin="anonymous"></script>
  <script src="https://vjs.zencdn.net/7.4.1/video.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.min.js" integrity="sha256-nviKEC91moGfyFMMzT31WyNxuAvIIgOSkSGi7K6U7EU=" crossorigin="anonymous"></script>

  <script type="text/javascript" src="{% static 'vendor/js/jquery.smartWizard.min.js' %}"></script>
  <script src="{% static 'js/shared.js' %}"></script>
  {% block page_js %}{% endblock page_js %}
</body>

</html>
