{% extends "layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-sm-11 col-md-10 col-lg-8">
    <div class="form-container container">
      <h4>Set your phone number</h4>
      <p>Add your phone number if you want to be alerted via text (SMS) when print starts to fail.</p>
      <hr />
      {% if form.errors %}
      <div class="text-danger">Wait! You have got errors to fix.</div>
      {% endif %}
      <form method="POST">
        {% csrf_token %}
        {% with WIDGET_ERROR_CLASS='field_error' WIDGET_REQUIRED_CLASS='field_required' %}

        {{ form.phone_country_code.errors }}
        {{ form.phone_number.errors }}
        {{ form.via.errors }}

        <div class="form-group row">
          <div class="col-sm-3">
            {% render_field form.phone_country_code class="form-control" %}
          </div>
          <div class="col-sm-9">
            {% render_field form.phone_number class="form-control" placeholder="Phone Number" %}
          </div>
        </div>
        <input type="submit" value="Save" class="btn btn-primary btn-block">
        <a href="{% url 'printers' %}"class="btn btn-secondary btn-block">Skip phone number for now</a>
        {% endwith %}
      </form>
      <br />
      <small class="text-muted">
        <div>Can't find your country code?</div>
        <div>The Spaghetti Detective Team is currently self-funded. Therefore we can't afford to open to countries with high SMS cost. We will add more countries once we find a cost-effective SMS solution, or secure sufficient funding.</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
