{% extends "layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-sm-11 col-md-10 col-lg-8">
    <div class="form-container container">
      <h4>Set your phone number</h4>
      <p>Add your phone number if you want to be alerted via text (SMS) when print starts to fail.</p>
      <hr />
      {% if form.errors %}
      <div class="text-danger">Wait! You have got errors to fix.</div>
      {% endif %}
      <form method="POST">
        {% csrf_token %}
        {% with WIDGET_ERROR_CLASS='field_error' WIDGET_REQUIRED_CLASS='field_required' %}

        {{ form.country_code.errors }}
        {{ form.phone_number.errors }}
        {{ form.via.errors }}

        <div class="form-group row">
          <div class="col-sm-3">
            {% render_field form.country_code class="form-control" placeholder="Country Code" %}
          </div>
          <div class="col-sm-9">
            {% render_field form.phone_number class="form-control" placeholder="Phone Number" %}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-12">We need to verify your phone number. How do you want to get verification code?</label>
          <div class="col-sm-12">
          {% render_field form.via class="custom-control-input" inline="True" %}
          </div>
        </div>
        <input type="submit" value="Get verification code" class="btn btn-primary btn-block">
        <a href="{% url 'printers' %}"class="btn btn-secondary btn-block">Skip phone number for now.</a>
        {% endwith %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
