{% extends settings.TEMPLATE_LAYOUT %}
{% load static %}
{% load qr_code %}


{% block content %}
<div class="row justify-content-center">
  <div class="col-sm-11 col-md-10 col-lg-8">
    <div class="form-container">
      <form id="printer_integration" method="POST" action="{{ request.path }}">
        {% csrf_token %}
        <h2 class="mb-4">3D Geeks push notification</h2>
        <h3 class="text-center">{{ printer.name }}</h3>
        {% if printer.service_token %}
        <div class="mt-3">Scan this QR code in your 3D Geeks app:</div>
        <div class="text-center bg-white my-3">
          {% qr_from_text printer.service_token size="M" %}
        </div>
        <div>Or copy this secret token and paste it in 3D Geeks app:</div>
        <div class="input-group mb-5">
          <input id="printer-auth-token" type="text" class="form-control" value={{ printer.service_token }}>
          <div class="input-group-append">
            <button id="copy-to-clipboard" class="btn btn-outline-primary no-corner" type="button"
              data-clipboard-target="#printer-auth-token">
              <i class="fas fa-clipboard"></i>
            </button>
          </div>
        </div>
        <div class="text-center">
          <button id="int-test" type="button" class="btn btn-outline-primary"><i class="fas fa-spinner fa-spin" style="display: none;"></i>&nbsp;Test push notification</button>
        </div>
        </div>
        <input type="hidden" name="enable" value="f">
        <button role="button" type="submit" class="btn btn-secondary btn-block">Turn off 3D Geeks integration</button>
        {% else %}
        <input type="hidden" name="enable" value="t">

        <div class="custom-control custom-checkbox py-2">
          <input type="checkbox" id="consent-checkbox" class="custom-control-input">
          <label class="custom-control-label" for="consent-checkbox">I acknowledge that by turning on 3D Geeks
            integration, The Spaghetti Detective will share my printer's data with 3D Geeks. My PII (Personal
            Identifiable Information) will
            NOT be shared.</label>
        </div>
        <button id="int-on-btn" role="button" type="submit" class="btn btn-primary btn-block" disabled>Turn on
          3D Geeks
          integration</button>
        {% endif %}
      </form>
    </div>
  </div>
</div>

{% endblock content %}

{% block page_js %}
<script type="text/javascript">
  $(document).ready(function () {
    $('input#consent-checkbox').on('change', function () {
      if (this.checked) {
        $('button.btn').removeAttr('disabled');
      } else {
        $('button.btn').attr("disabled", true);
      }
    });
    $('button#int-test').on('click', function () {
      $('button#int-test i.fa-spin').show();
      $.ajax({
            url: '/api/v1/printers/{{ printer.id }}/send_webhook_test/',
            type: 'GET',
            dataType: 'json',
        })
        .done(function () {
          $('button#int-test i.fa-spin').hide();
          Swal.fire({
                title: 'Test push notification sent!',
                text: 'You should receive it on your 3D Geeks app shortly.'
            });
        });
    });
  });
</script>
{% endblock page_js %}
