{% extends settings.TEMPLATE_LAYOUT %}
{% load static %}
{% load jstemplate %}

{% block content %}

{% mustachejs '(.*)'  %}

<div class="option-drawer">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body p-3">
          <div>
            <div class="sorting-and-filter">
              <select id="printer-sorting" class="selectpicker my-1 mx-2">
                <option value="by-date-asc" data-content="Sort By Date <i class='fas fa-long-arrow-alt-up'></i>">Sort By
                  Date Up</option>
                <option value="by-date-desc" data-content="Sort By Date <i class='fas fa-long-arrow-alt-down'></i>">Sort
                  By Date Down</option>
                <option value="by-name-asc" data-content="Sort By Name <i class='fas fa-long-arrow-alt-up'></i>">Sort By
                  Name Up</option>
                <option value="by-name-desc" data-content="Sort By Name <i class='fas fa-long-arrow-alt-down'></i>">Sort
                  By Name Down</option>
              </select>
              <select id="printer-filtering" class="selectpicker my-1 mx-2">
                <option value="all">All Printers</option>
                <option value="online">Online Printers Only</option>
                <option value="active">Active Printers Only</option>
              </select>
            </div>
          </div>
          <hr />
          <div>
            {% for printer in printers %}
            <a href="#{{printer.id}}" role="button" class="btn btn-outline-primary btn-sm my-1 mx-2 printer-link"><i
                class="fas fa-map-pin"></i>&nbsp;&nbsp;{{printer.name}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="panel-heading" role="tab" id="headingOne">
        <div class="panel-title">
          <button class="btn btn-block shadow-none" role="button" data-toggle="collapse" data-parent="#accordion"
            href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-angle-down"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="printers" class="row justify-content-center">
  {% for printer in printers %}
  <div id="{{ printer.id }}" data-auth-token="{{ printer.auth_token }}" data-name="{{ printer.name }}"
    data-created-at="{{ printer.created_at|date:'c' }}" class="col-sm-12 col-lg-6 printer-card" style="display: none;">
    <div class="card">
      <div class="card-header">
        <div class="title-box">
          <div class="primary-title print-filename"></div>
          <div class="printer-name">{{ printer.name }}</div>
        </div>
        <div class="dropdown">
          <button class="btn icon-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-label="{{ printer.name }} Controls"><i class="fas fa-ellipsis-v"></i></button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/printers/{{ printer.id }}/share/"><i
                class="fas fa-share-alt fa-lg"></i>Share</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/printers/{{ printer.id }}/"><i class="fas fa-cog fa-lg"></i>Settings</a>
            <a id="delete-print" class="dropdown-item text-danger" href="#"><i
                class="fas fa-trash-alt fa-lg"></i>Delete</a>
          </div>
        </div>
      </div>
      {% include 'includes/_webcam_stream.html' %}
      <div class="failure-alert card-body bg-warning px-2 py-1" style="display: none">
        <i class="fas fa-exclamation-triangle align-middle"></i>
        <span class="align-middle">Failure Detected!</span>
        <button type="button" id="not-a-failure" class="btn btn-outline-primary btn-sm float-right">Not a failure?
        </button>
      </div>
      <div class="card-body gauge-container">
        <div class="overlay-top text-center"
          style="left: 50%; margin-left: -102px; top: 50%; margin-top: -15px; display: none">
          <div>The Detective Is Not Watching</div>
          <div>(<a href="https://www.thespaghettidetective.com/docs/detective-not-watching/">Why?</a>)</div>
        </div>
        <div class="text-center gauge">
          <canvas class='tangle-index' data-type="radial-gauge" data-value-dec="0" data-value-int="0" data-width="240"
            data-height="240" data-units="false" data-title="Looking Good" data-value-box="false" data-min-value="0"
            data-max-value="100" data-major-ticks='["","","",""]' data-minor-ticks="4" data-highlights='[
                              { "from": 0, "to": 33, "color": "#5cb85c" },
                              { "from": 33, "to": 67, "color": "#f0ad4e" },
                              { "from": 67, "to": 100, "color": "#d9534f" }
                          ]' data-color-plate="rgba(255,255,255,.0)" data-color-title="#5cb85c"
            data-color-stroke-ticks="#EBEBEB" data-color-numbers="#eee" data-color-needle-start="rgba(240, 128, 128, 1)"
            data-color-needle-end="rgba(255, 160, 122, .9)" data-value-box="true" data-animation-rule="bounce"
            data-animation-duration="500" data-animated-value="true" data-start-angle="90" data-ticks-angle="180"
            data-borders="false"></canvas>
        </div>
        <hr />
      </div>
      <div id="printer-actions" class="container">
      </div>
      <div class="info-section settings">
        <button type="button" class="info-section-toggle btn btn-sm no-corner mx-2 pressed"
          data-target-div="panel-settings"><i class="fas fa-cog fa-lg"></i></button>
        <button type="button" class="info-section-toggle btn btn-sm no-corner mx-2" data-target-div="print-time"><i
            class="fas fa-clock fa-lg"></i></button>
        <button type="button" class="info-section-toggle btn btn-sm no-corner mx-2 pressed"
          data-target-div="status_temp_block"><i class="fas fa-thermometer-half fa-lg"></i></button>
      </div>
      <div class="info-section" style="height: 0.3rem;"></div>
      <div>
        <div class="info-section container">
          <div id="panel-settings">
            <div class="pt-2 pb-3">
              <div class="row justify-content-center px-3">
                <div class="col-12 setting-item">
                  <label class="toggle-label" for="watching-toggle-{{ printer.id }}">Watch for failures
                    <div class="text-muted font-weight-light font-size-sm">Subsequent prints NOT watched until turned
                      on.</div>
                  </label>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" name="watching" class="custom-control-input update-printer"
                      id="watching-toggle-{{ printer.id }}">
                    <label class="custom-control-label" for="watching-toggle-{{ printer.id }}"
                      style="font-size: 1rem;"></label>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center px-3">
                <div class="col-12 setting-item">
                  <label class="toggle-label" for="pause-toggle-{{ printer.id }}">Pause on detected failures<div
                      class="text-muted font-weight-light font-size-sm">You will still be alerted via notifications
                    </div></label>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" name="pause_on_failure" class="custom-control-input update-printer"
                      id="pause-toggle-{{ printer.id }}">
                    <label class="custom-control-label" for="pause-toggle-{{ printer.id }}"
                      style="font-size: 1rem;"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="print-time" style="display: none;">
            <div class="py-2">
              <div class="row text-muted">
                <small class="col-5 offset-2">
                  Remaining
                </small>
                <small class="col-5">
                  Total
                </small>
              </div>
              <div class="row">
                <div class="col-2 text-muted">
                  <i class="fas fa-clock"></i>
                </div>
                <div id="print-time-remaining" class="col-5 numbers"></div>
                <div id="print-time-total" class="col-5 numbers"></div>
                <div class="col-12">
                  <div class="progress" style="height: 2px;">
                    <div id="print-progress" class="progress-bar progress-bar-striped progress-bar-animated"
                      role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="status_temp_block">
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="row justify-content-center">
  <div id="new-printer" class="col-sm-12 col-lg-6">
    <div class="new-printer-container">
      <a href="/printers/new">
        <i class="fa fa-plus fa-2x"></i>
        <div>Add Printer</div>
      </a>
    </div>
  </div>
</div>
<div id="printers-hidden-warning" style="display: none;"
  class="text-warning border-warning text-center border my-3 py-2"><span id="printers-hidden">0</span> printers are
  hidden by the filtering settings.&nbsp;&nbsp;<a href="#" id="show-all-printers-btn">Show all printers >>></a></div>

{% endblock content %}

{% block page_js %}

<script type="text/javascript">
  var printerStockImgSrc = "{% static 'img/3d_printer.png' %}";
  var loadingIcon = "{% static 'img/loading.gif' %}";
</script>

<script src="{% static 'js/printer_ws.js' %}"></script>
<script src="{% static 'js/printer_list.js' %}"></script>
<script src="{% static 'js/temperature_change.js' %}"></script>
<script src="{% static 'js/printer_actions.js' %}"></script>

<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.4.0/adapter.min.js"></script>
<script src="{% static 'js/janus.js' %}"></script>
<script src="{% static 'js/webrtc_streaming.js' %}"></script>

{% endblock page_js %}
