{% extends "layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-11 col-md-10 col-lg-8">
        <div id="smartwizard">
            <ul>
                <li><a href="#step-1">Step 1<br /><small>Give your printer a name</small></a></li>
                <li><a href="#step-2">Step 2<br /><small>Install Plugin</small></a></li>
                <li><a href="#step-3">Step 3<br /><small>Copy token to the plugin</small></a></li>
                <li><a href="#step-4">Step 4<br /><small>Wait for connection</small></a></li>
            </ul>

            <div>
                <div id="step-1" class="form-step">
                    <form id="printer_form" method="POST" action="{{ request.path }}?#step-2">
                        {% csrf_token %}
                        {% with WIDGET_ERROR_CLASS='field_error' WIDGET_REQUIRED_CLASS='field_required' %}
                        <div class="form-group">
                            {% render_field form.name class="form-control" aria-describedby="nameHelp" placeholder="Name for your shiny new printer" %}
                            {% if form.name.errors %}
                            <small id="passwordHelp" class="text-danger">
                                {% for error in form.name.errors %}
                                {{ error|escape }}
                                {% endfor %}
                            </small>
                            {% endif %}
                        </div>
                        {% endwith %}
                    </form>
                </div>
                <div id="step-2" class="plugin-step">
                    In OctoPrint Plugin Manager, install TheSpaghettiDetective using this link:
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="plugin-link" value="https://github.com/TheSpaghettiDetective/OctoPrint-TheSpaghettiDetective/archive/master.zip">
                        <div class="input-group-append">
                            <button id="copy-to-clipboard" class="btn btn-outline-secondary" type="button"
                                data-clipboard-target="#plugin-link">
                                <i class="fas fa-clipboard"></i>
                            </button>
                        </div>
                    </div>
                    <img src="{% static 'img/install_plugin.png' %}" style="width: 100%;" />
                    <div>For details please head to the <a href="https://www.thespaghettidetective.com/guide.html">Setup Guide</a>.</div>
                </div>
                <div id="step-3" class="token-step">
                        Copy and paste this token to OctoPrint TheSpaghettiDetective Plugin settings:
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="foo" value="{{ form.instance.auth_token }}">
                            <div class="input-group-append">
                                <button id="copy-to-clipboard" class="btn btn-outline-secondary" type="button"
                                    data-clipboard-target="#foo">
                                    <i class="fas fa-clipboard"></i>
                                </button>
                            </div>
                        </div>
                        <img src="{% static 'img/paste_token.png' %}" style="width: 100%;" />
                </div>
                <div id="step-4" class="connection-step" data-printer-id="{{ form.instance.id }}">
                    <div id="waiting">
                        <i class="fas fa-spinner fa-spin fa-lg"></i>
                        <div>
                            Waiting for TheSpaghettiDetective Plugin to connect...
                        </div>
                    </div>
                    <div id="connected" style="display: none" >
                        <i class="far fa-check-circle fa-lg"></i>TheSpaghettiDetective plugin is successfully configured!
                        <div>
                            <a class="btn btn-secondary" href="/" role="button">Done</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}

{% block page_js %}
<script src="{% static 'js/printer_edit.js' %}"></script>
{% endblock page_js %}
