{% extends settings.TEMPLATE_LAYOUT %}
{% load static %}
{% load jstemplate %}

{% block content %}

{% mustachejs '(.*)'  %}

<div class="row justify-content-center">
  <div id="{{ printer.id }}" class="col-sm-12 col-lg-6 printer-card" data-share-token="{{ share_token }}"
    data-resource-id="{{ printer.sharedresource.id }}">
    <div class="card">
      <div class="card-header">
        <div class="title-box">
          <div class="primary-title print-filename"></div>
          <div class="printer-name">{{ printer.name }}</div>
        </div>
      </div>
      {% include 'includes/_webcam_stream.html' %}
    </div>
  </div>
</div>
<br />
<div class="row justify-content-center">
  <div class="col-sm-12 col-lg-6">
    <p class="text-center">You are viewing an awesome 3D print your friend shared specifically with you on <a
        href="https://www.thespaghettidetective.com/">The Spaghetti Detective</a></p>
    <p class="text-center"><a href="/accounts/signup/">Sign up an account for FREE >>></a></p>
  </div>
</div>

{% endblock content %}

{% block page_js %}

<script type="text/javascript">
  var printerStockImgSrc = "{% static 'img/3d_printer.png' %}";
  var loadingIcon = "{% static 'img/loading.gif' %}";
  var isProAccount = true;    // Only Pro account can share. So overwrite the global var
  var isOnSharedPage = true;
</script>

<script src="{% static 'js/printer_ws.js' %}"></script>
<script src="{% static 'js/printer_list.js' %}"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.4.0/adapter.min.js"></script>
<script src="{% static 'js/janus.js' %}"></script>
<script src="{% static 'js/webrtc_streaming.js' %}"></script>

{% endblock page_js %}
