{% extends settings.TEMPLATE_LAYOUT %}
{% load static %}
{% load bootstrap_pagination %}
{% load humanize %}

{% block content %}

<!-- <div class="timelapse-gallery"> -->
  <prints />
  <!-- <div class="row my-5 justify-content-center">
    <div class="col-12">
      <a role="button" class="btn btn-outline-primary btn-block" href="/prints/upload/">Upload time-lapses and earn some <img class="dh-icon" src="{% static 'img/detective-hour-primary.png' %}" /></a>
    </div>
  </div>
  <form id="prints-form" method="POST" action="{{ request.path }}delete/bulk/">{% csrf_token %}</form>
    <div class="row">
      <div class="col-sm-12 text-center pb-3">
        <button type="button" id="delete-prints-btn" class="btn btn-light float-right ml-3" disabled><i
            class="fas fa-trash-alt"></i> Delete</button>
        <button type="button" id="select-all-btn" class="btn btn-primary float-right">Select All</button>
      </div>
    </div>
    <div class="row">
      {% for print in prints %}
      <div class="col-sm-12 col-md-6 col-lg-4 timelapse-card">
        <div class="card">
          <div class="card-header">
            <div class="custom-control custom-checkbox form-check-inline float-left" style="padding-top: 2px;">
              <input type="checkbox" name="selected_print_ids" value="{{ print.id }}" class="custom-control-input" form="prints-form"
                id="select-print-{{ print.id }}">
              <label class="custom-control-label" for="select-print-{{ print.id }}"></label>
            </div>
            <a role="button" class="btn btn-outline-danger float-right btn-sm borderless" data-toggle="tooltip" data-placement="top" title="Delete"
              href="{{ request.path }}delete/{{ print.id }}/">
              <i class="fas fa-trash-alt fa-lg"></i>
            </a>
            {% if print.video_url %}
            <div class="dropdown float-right">
              <a role="button"  class="btn btn-sm borderless dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-download"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="download dropdown-item" data-video-url="{{ print.video_url }}" data-filename="{{ print.filename }}.mp4" data-mime-type="video/mp4">Download Original Time-lapse</a>
                {% if print.tagged_video_url %}
                <a class="download dropdown-item" data-video-url="{{ print.tagged_video_url }}" data-filename="{{ print.filename }}_detective_view.mp4" data-mime-type="video/mp4">Download Detective View</a>
                {% endif %}
              </div>
            </div>
            {% endif %}
          </div>
          <div class="card-img-top plain-view" {% if print.expecting_detective_view %} style="display: none" {% endif %}>
            <video class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
              poster="{{ print.poster_url }}"
              data-setup='{"fluid": true, "playbackRates": [0.5, 1, 1.5, 2], "controlBar": {"fullscreenToggle": true}}'>
              <source src="{{ print.video_url }}" type='video/mp4'>

              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
              </p>
            </video>
            <a id="fullscreen-btn-{{print.id}}-p" class="fullscreen-btn" href="#tl-fullscreen-modal" role="button"
              data-toggle="modal">
              <i class="fa fa-expand fa-2x" aria-hidden="true"></i>
            </a>
          </div>

          {% if print.expecting_detective_view %}
            <div class="card-img-top detective-view">
              {% if print.tagged_video_url %}
              <video id="tl-{{print.id}}" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
                poster="{{ print.poster_url }}"
                data-setup='{"fluid": true, "playbackRates": [0.5, 1, 1.5, 2], "controlBar": {"fullscreenToggle": true}}'>
                <source src="{{ print.tagged_video_url }}" type='video/mp4'>

                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a web browser that
                  <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
              </video>
              <a id="fullscreen-btn-{{print.id}}-d" class="fullscreen-btn" href="#tl-fullscreen-modal" role="button"
                data-toggle="modal">
                <i class="fa fa-expand fa-2x" aria-hidden="true"></i>
              </a>
              {% else %}
              <img class="card-img" src="{% static 'img/detective-working.gif' %}" style="width: 100%;" />
              <div class="card-img-overlay">The Detective is busy looking at the uploaded time-lapse. Check back later.</div>
              {% endif %}
            </div>
            <div class="px-3 pt-2">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input view-toggle" id="view-toggle-{{ print.id }}">
                <label class="custom-control-label" for="view-toggle-{{ print.id }}">Show Print Info</label>
              </div>
            </div>
          {% endif %}

          <div class="card-body plain-view gauge-container pt-3" {% if print.expecting_detective_view %} style="display: none" {% endif %}>
            <div class="container">
              <div class="row">
                <div class="text-muted col-4">
                  File:
                </div>
                <div id="print-file-name" class="col-8">
                  {{ print.filename }}
                </div>
              </div>
              <div class="row">
                <div class="text-muted col-4">
                  {{ print.uploaded_at|yesno:"Uploaded:,Printed:" }}
                </div>
                <div id="time-left" class="col-8">
                  {% if print.uploaded_at %}
                  {{ print.uploaded_at|naturaltime }} {{ print.end_status }}
                  {% else %}
                  {{ print.ended_at|naturaltime }} {{ print.end_status }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          {% if print.expecting_detective_view %}
          <div class="card-body detective-view gauge-container">
            <div class="text-center gauge">
              <canvas id="gauge-{{print.id}}" data-type="radial-gauge" data-value-dec="0" data-value-int="0"
                data-width="240" data-height="240" data-units="false" data-title="Looking Good" data-value-box="false"
                data-min-value="0" data-max-value="100" data-major-ticks='["","","",""]' data-minor-ticks="4"
                data-highlights='[
                                    { "from": 0, "to": 33, "color": "#5cb85c" },
                                    { "from": 33, "to": 67, "color": "#f0ad4e" },
                                    { "from": 67, "to": 100, "color": "#d9534f" }
                                ]' data-color-plate="rgba(255,255,255,.0)" data-color-title="#5cb85c"
                data-color-stroke-ticks="#EBEBEB" data-color-numbers="#eee"
                data-color-needle-start="rgba(240, 128, 128, 1)" data-color-needle-end="rgba(255, 160, 122, .9)"
                data-value-box="true" data-animation-rule="bounce" data-animation-duration="500"
                data-animated-value="true" data-start-angle="90" data-ticks-angle="180" data-borders="false"></canvas>
            </div>
            <hr />
          </div>
          <div>
            <div class="print-actions card-body container pt-0">
              {% if print.tagged_video_url %}
              <div class="row">
                <div class="col-sm-12">
                  {% if print.has_alerted %}
                  <p class="text-danger">Spaghetti was detected on this print.</p>
                  {% else %}
                  <p class="text-success">The Detective thought it was successful.</p>
                  {% endif %}
                  <small>Help The Detective get better by telling her what actually happened to this print.</small>
                  <div class="pb-2"><img class="dh-icon"
                    src="{% static 'img/detective-hour-inverse.png' %}" /><small><a href="https://www.thespaghettidetective.com/docs/how-does-credits-work/" class="text-muted"> What is it?</a></small></div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <form class="user-feedback-form" method="get" data-print-id="{{ print.id }}">
                    <div class="custom-control custom-radio">
                      <input type="radio" name="alert_overwrite" {% if print.alert_overwrite == 'FAILED' %} checked{% endif %} value="FAILED" class="custom-control-input"
                        id="{{ print.id }}_FAILED">
                      <label class="custom-control-label" for="{{ print.id }}_FAILED">{{ print.has_alerted |yesno:"Yes this print did fail.,This print actually failed."}}</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" name="alert_overwrite" {% if print.alert_overwrite == 'NOT_FAILED' %} checked{% endif %} value="NOT_FAILED" class="custom-control-input"
                        id="{{ print.id}}_NOT_FAILED">
                      <label class="custom-control-label" for="{{ print.id}}_NOT_FAILED">{{ print.has_alerted |yesno:"Nothing was wrong. It was a false alarm.,Yes this print was successful."}}</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" name="alert_overwrite" {% if print.alert_overwrite == 'PARTIALY_FAILED' %} checked{% endif %} value="PARTIALY_FAILED" class="custom-control-input"
                        id="{{ print.id }}_PARTIALY_FAILED">
                      <label class="custom-control-label" for="{{ print.id }}_PARTIALY_FAILED">There were some problems.
                        But the print managed to finish anyway.</label>
                    </div>
                  </form>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-sm-12">
        {% bootstrap_paginate page_obj extra_pagination_classes="flex-wrap" %}
      </div>
    </div>

    <br /><br />

    <div class="modal" id="tl-fullscreen-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="tl-modal-title" class="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body" id="result">
            <div>
              <div class="video-player">
                <video id="tl-fullscreen-vjs" class="video-js vjs-default-skin vjs-big-play-centered" controls
                  preload="auto"
                  data-setup='{"fill": true, "playbackRates": [0.5, 1, 1.5, 2], "controlBar": {"fullscreenToggle": true}}'>
                  <source type='video/mp4'>
                  <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                  </p>
                </video>
              </div>
              <div style="position: relative; padding: 32px 0 8px 0;">
                <div class="text-center gauge">
                  <canvas id='gauge-fullscreen' data-type="radial-gauge" data-value-dec="0" data-value-int="0"
                    data-width="240" data-height="240" data-units="false" data-title="Looking Good"
                    data-value-box="false" data-min-value="0" data-max-value="100" data-major-ticks='["","","",""]'
                    data-minor-ticks="4" data-highlights='[
                                      { "from": 0, "to": 33, "color": "#5cb85c" },
                                      { "from": 33, "to": 67, "color": "#f0ad4e" },
                                      { "from": 67, "to": 100, "color": "#d9534f" }
                                  ]' data-color-plate="rgba(255,255,255,.0)" data-color-title="#5cb85c"
                    data-color-stroke-ticks="#EBEBEB" data-color-numbers="#eee"
                    data-color-needle-start="rgba(240, 128, 128, 1)" data-color-needle-end="rgba(255, 160, 122, .9)"
                    data-value-box="true" data-animation-rule="bounce" data-animation-duration="500"
                    data-animated-value="true" data-start-angle="90" data-ticks-angle="180"
                    data-borders="false"></canvas>
                </div>
                <hr />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
<!-- </div> -->

{{ prediction_urls|json_script:"prediction_urls" }}
{% endblock content %}

{% block page_js %}
<script src="{% static 'js/print_list.js' %}"></script>
{% endblock page_js %}
