{% extends "layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-sm-11 col-md-10 col-lg-8">
    <div id="smartwizard" class="form-container">
      <ul>
        <li><a href="#step-1">Step 1<br /><small>Printer settings</small></a></li>
        <li><a href="#step-2">Step 2<br /><small>Install Plugin</small></a></li>
        <li><a href="#step-3">Step 3<br /><small>Copy token to the plugin</small></a></li>
        <li><a href="#step-4">Step 4<br /><small>Wait for connection</small></a></li>
      </ul>

      <div>
        <div id="step-1" class="form-step">
          {% if form.errors %}
          <div class="text-danger">Wait! You have got errors to fix.</div>
          {% endif %}
          <form id="printer_form" method="POST" action="{{ request.path }}?#step-2">
            {% csrf_token %}
            {% with WIDGET_ERROR_CLASS='field_error' WIDGET_REQUIRED_CLASS='field_required' %}
            <div class="form-group text-muted">
              <label class="form-label" for="{{ form.name.id_for_label }}">Give your new printer a shiny name</label>
              {% render_field form.name class="form-control" aria-describedby="nameHelp" placeholder="My Awesome 3D Printer" %}
              {% if form.name.errors %}
              <small id="passwordHelp" class="text-danger">
                {% for error in form.name.errors %}
                {{ error|escape }}
                {% endfor %}
              </small>
              {% endif %}
            </div>
            <hr style="background-color: grey;"/>
            <p class="text-warning">
                <i class="fas fa-exclamation-triangle"></i>  If you are not sure about the settings below, leave them in default values to minimize surprises.
            </p>
            <div class="form-group">
              <div class="form-label text-muted">When failure is detected,</div>
              {% render_field form.action_on_failure %}
            </div>
            <div class="form-group">
              <div class="form-label text-muted">When print is paused,</div>
              <div class="custom-control custom-checkbox form-check-inline">
                {% render_field form.tools_off_on_pause class="custom-control-input" %}
                <label class="custom-control-label" for="id_tools_off_on_pause">
                  Turn off hotend heater(s)
                </label>
              </div>
              <div class="custom-control custom-checkbox form-check-inline">
                {% render_field form.bed_off_on_pause class="custom-control-input" %}
                <label class="custom-control-label" for="id_bed_off_on_pause" >
                  Turn off bed heater
                </label>
              </div>
            </div>
            <div class="form-group sensitivity">
              <div class="form-label text-muted">How alerted do you want the Detective to be on this printer?</div>
              <div>
                <input id="sensitivity" name="detective_sensitivity" data-slider-id='sensitivity-slider' type="text" data-slider-min="0.8" data-slider-max="1.2" data-slider-step="0.05" data-slider-value="{{ form.instance.detective_sensitivity }}"/>
              </div>
              <div class="hint-low">
                Low - I don't want a lot of false alarms. Only alert me when you are absolutely sure.
              </div>
              <div class="hint-medium">
                Medium - A few false alarms won't bother me. But some well-disguised spaghetti will be missed.
              </div>
              <div class="hint-high">
                High - Hit me with all the false alarms. I just want you to catch as many as you can.
              </div>
            </div>
            {% endwith %}
          </form>
        </div>
        <div id="step-2" class="plugin-step">
          If you have not installed The Spaghetti Detective plugin (Beta) for OctoPrint, please do so before clicking "Next".
          <img src="{% static 'img/install_plugin.png' %}" style="width: 100%;" />
          <div>For details please head to the <a href="https://www.thespaghettidetective.com/guide.html">Setup
              Guide</a>.</div>
        </div>
        <div id="step-3" class="token-step">
          Copy and paste this token to OctoPrint TheSpaghettiDetective Plugin settings:
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="foo" value="{{ form.instance.auth_token }}">
            <div class="input-group-append">
              <button id="copy-to-clipboard" class="btn btn-outline-secondary" type="button"
                data-clipboard-target="#foo">
                <i class="fas fa-clipboard"></i>
              </button>
            </div>
          </div>
          <img src="{% static 'img/paste_token.png' %}" style="width: 100%;" />
        </div>
        <div id="step-4" class="connection-step" data-printer-id="{{ form.instance.id }}">
          <div id="waiting">
            <i class="fas fa-spinner fa-spin fa-lg"></i>
            <div>
              Waiting for TheSpaghettiDetective Plugin to connect...
            </div>
          </div>
          <div id="connected" style="display: none">
            <i class="far fa-check-circle fa-lg"></i>TheSpaghettiDetective plugin is successfully configured!
            <div>
              <a class="btn btn-secondary" href="/" role="button">Done</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  var formHasErrors = {{ form.errors|yesno:'true,false,false' }}
</script>

{% endblock content %}

{% block page_js %}
<script src="{% static 'js/printer_edit.js' %}"></script>
{% endblock page_js %}
