{% extends settings.TEMPLATE_LAYOUT %}

{% load bundle from vue %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<div id="printer-settings-mount">
  <printer-settings-page>
  </printer-settings-page>
</div>

{% bundle 'printer_settings' %}

{% endblock content %}

{% block body_bottom_ext %}
  {% if not app_platform.platform %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block useful_libs %}
  {% if not app_platform.platform %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block header_ext %}
  {% if not app_platform.platform %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block bootstrap_js %}
  {% if not app_platform.platform %}
    {{ block.super }}
  {% endif %}
{% endblock %}
