{% extends "layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-11 col-md-10 col-lg-8 printer-acted">
      <br /><br /><br />
      <i class="far fa-check-circle fa-5x"></i>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-11 col-md-10 col-lg-8 printer-acted">
      <br />
      <p>Successfully sent command to OctoPrint to {{ action }} print <strong>"{{ printer.current_print_filename|default:'' }}
      </strong>"!</p>
      <p>It may take a while to be executed by OctoPrint.</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-11 col-md-10 col-lg-8 printer-acted">
      <br />
      <a class="btn btn-secondary" href="/printers" role="button">Go to webcam view</a>
      <br /><br /><br />
    </div>
</div>

{% endblock content %}
