{% extends "layout.html" %}
{% load static %}
{% load bootstrap_pagination %}

{% block content %}

<div class="timelapse-gallery">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Spaghetti Gallery</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 hints">
      The Spaghetti Detective is still in early stage and its algorithm is not perfect yet. It may sometimes give
      false alarms, or miss print failures.
      So we compiled this "Spaghetti Gallery" to show you that some camera setups (angle, lighting, etc) are better
      than others at helping the Detective do the job.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {% bootstrap_paginate page_obj extra_pagination_classes="flex-wrap" %}
    </div>
  </div>
  <div class="row">
    {% for timelapse in timelapses %}
    <div class="col-sm-12 col-md-6 col-lg-4 timelapse-card">
      <div class="card">
        <div class="card-header">
          - By {{ timelapse.creator_name }}
        </div>

        <div class="card-img-top">

          <video id="tl-{{timelapse.id}}" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" poster="{{ timelapse.poster_url }}"
            data-setup='{"fluid": true, "playbackRates": [0.5, 1, 1.5, 2], "controlBar": {"fullscreenToggle": false}}'>
            <source src="{{ timelapse.video_url }}" type='video/mp4'>

            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </video>
          <a id="fullscreen-btn-{{timelapse.id}}" class="fullscreen-btn" href="#tl-fullscreen-modal" role="button"
            data-toggle="modal">
            <i class="fa fa-expand fa-2x" aria-hidden="true"></i>
          </a>
        </div>

        <div class="card-body">
          <div id="alert-banner-{{timelapse.id}}" class="bg-warning alert-banner text-center">
              <i class="fas fa-exclamation-triangle"></i> Possible failure detected!
          </div>
          <div class="text-center gauge">
            <canvas id="gauge-{{timelapse.id}}"
              data-type="radial-gauge"
              data-value-dec="0"
              data-value-int="0"
              data-width="240"
              data-height="240"
              data-units="false"
              data-title="Looking Good"
              data-value-box="false"
              data-min-value="0"
              data-max-value="100"
              data-major-ticks='["","","",""]'
              data-minor-ticks="4"
              data-highlights='[
                                  { "from": 0, "to": 33, "color": "#5cb85c" },
                                  { "from": 33, "to": 67, "color": "#f0ad4e" },
                                  { "from": 67, "to": 100, "color": "#d9534f" }
                              ]'
              data-color-plate="rgba(255,255,255,.0)"
              data-color-title="#5cb85c"
              data-color-stroke-ticks="#EBEBEB"
              data-color-numbers="#eee"
              data-color-needle-start="rgba(240, 128, 128, 1)"
              data-color-needle-end="rgba(255, 160, 122, .9)"
              data-value-box="true"
              data-animation-rule="bounce"
              data-animation-duration="500"
              data-animated-value="true"
              data-start-angle="90"
              data-ticks-angle="180"
              data-borders="false"></canvas>
          </div>
          <hr />
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row">
      <div class="col-sm-12">
        {% bootstrap_paginate page_obj extra_pagination_classes="flex-wrap" %}
      </div>
    </div>

  <div class="modal" id="tl-fullscreen-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="tl-modal-title" class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body" id="result">
          <div>
            <div class="video-player">
              <video id="tl-fullscreen-vjs" class="video-js vjs-default-skin" controls preload="auto" data-setup='{"fill": true, "playbackRates": [0.5, 1, 1.5, 2], "controlBar": {"fullscreenToggle": false}}'>
                <source src="https://getanywhereprod.blob.core.windows.net/timelapse/1371191931.mp4?se=2046-06-17T03%3A45%3A25Z&sp=r&sv=2018-03-28&sr=b&sig=z0B337XVamtZsbLPtgvPCZ15WN3PaTGZBiF0Odqn91E%3D"
                  type='video/mp4'>
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a web browser that
                  <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
              </video>
            </div>
            <div style="position: relative; padding: 32px 0 8px 0;">
              <div id="alert-banner-fullscreen" class="bg-warning alert-banner text-center">
                  <i class="fas fa-exclamation-triangle"></i> Possible failure detected!
              </div>
              <div class="text-center gauge">
                <canvas id='gauge-fullscreen'
                data-type="radial-gauge"
                data-value-dec="0"
                data-value-int="0"
                data-width="240"
                data-height="240"
                data-units="false"
                data-title="Looking Good"
                data-value-box="false"
                data-min-value="0"
                data-max-value="100"
                data-major-ticks='["","","",""]'
                data-minor-ticks="4"
                data-highlights='[
                                    { "from": 0, "to": 33, "color": "#5cb85c" },
                                    { "from": 33, "to": 67, "color": "#f0ad4e" },
                                    { "from": 67, "to": 100, "color": "#d9534f" }
                                ]'
                data-color-plate="rgba(255,255,255,.0)"
                data-color-title="#5cb85c"
                data-color-stroke-ticks="#EBEBEB"
                data-color-numbers="#eee"
                data-color-needle-start="rgba(240, 128, 128, 1)"
                data-color-needle-end="rgba(255, 160, 122, .9)"
                data-value-box="true"
                data-animation-rule="bounce"
                data-animation-duration="500"
                data-animated-value="true"
                data-start-angle="90"
                data-ticks-angle="180"
                data-borders="false"></canvas>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ timelapses|json_script:"timelapses-data" }}
{% endblock content %}

{% block page_js %}
<script src="{% static 'js/gallery.js' %}"></script>
{% endblock page_js %}
