<div class="form-group row">
{% if user.telegram_chat_id %}
<div class="col-sm-12" id="id_telegram_logout_btn">
<div class="btn btn-primary float-left"
  onclick="onTelegramLogout()">Unlink Telegram</div>
</div>
{% else %}
<script async src="https://telegram.org/js/telegram-widget.js?7"
  data-telegram-login="{{ bot_name }}"
  data-size="large"
  data-onauth="onTelegramAuth(user)"
  data-request-access="write"></script>
{% endif %}
<div class="col-sm-12">
<div class="btn btn-primary float-left disabled"
  style="display:none"
  id="id_telegram_submit_prompt">Save to submit changes</div>
</div>
</div>

<script type="text/javascript">
  function onTelegramAuth(user) {
    document.getElementById("id_telegram_chat_id").value = JSON.stringify(user);
    document.getElementById("telegram-login-{{ bot_name }}").setAttribute("style", "display:none");
    document.getElementById("id_telegram_submit_prompt").removeAttribute("style");
  }

  function onTelegramLogout() {
    document.getElementById("id_telegram_chat_id").value = "";
    document.getElementById("id_telegram_logout_btn").setAttribute("style", "display:none");
    document.getElementById("id_telegram_submit_prompt").removeAttribute("style");
  }
</script>
