{% extends "vue_layout.html" %}

{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'vendor/css/bootstrap-select.min.css' %}">
{% endblock page_css %}

{% load bundle from vue %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<div id="user-preferences-mount">
  <user-preferences-page v-bind:config='{telegramBotName: "{{telegram_bot_name}}", twilioCountryCodes: {{ settings.TWILIO_COUNTRY_CODES }} }'>
  </user-preferences-page>
</div>

{% bundle 'users' %}

{% endblock content%}

{% block page_js %}
<script src="{% static 'vendor/js/bootstrap-select.min.js' %}"></script>
{% endblock page_js %}

{% block body_bottom_ext %}
  {% if not app_platform.platform %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block useful_libs %}
  {% if not app_platform.platform %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block header_ext %}
  {% if not app_platform.platform %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block bootstrap_js %}
  {% if not app_platform.platform %}
    {{ block.super }}
  {% endif %}
{% endblock %}
