{% extends "layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% load socialaccount %}

{% block content %}
<div class="row justify-content-center user-preferences">
  <div class="col-sm-11 col-md-10 col-lg-8">
    <div class="form-container">

      {% if form.errors %}
      <div class="text-danger">Wait! You have got errors to fix.</div>
      <br />
      {% endif %}
      <form id="preference_form" method="POST">
        {% csrf_token %}
        {% with WIDGET_ERROR_CLASS='field_error' WIDGET_REQUIRED_CLASS='field_required' %}
        <h2>Profile</h2>
        {% get_social_accounts user as accounts %}
        {% if not accounts  %}
        <div class="form-group row">
          <label for="id_passowrd" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10 col-form-label text-muted">
              <a href="/accounts/password/change">Change</a>
          </div>
        </div>

        {% endif %}
        <div class="form-group row">
          <label for="id_first_name" class="col-sm-2 col-form-label">First Name</label>
          <div class="col-sm-10">
            {% render_field form.first_name class="form-control" %}
          </div>
        </div>
        <div class="form-group row">
          <label for="id_last_name" class="col-sm-2 col-form-label">Last Name</label>
          <div class="col-sm-10">
            {% render_field form.last_name class="form-control" %}
          </div>
        </div>
        <br />
        <h2>Notifications</h2>
        <div class="row">
          <div class="col-sm-10 offset-sm-2 col-form-label">
            <div class="custom-control custom-checkbox form-check-inline">
              {% render_field form.notify_on_done class="custom-control-input" %}
              <label class="custom-control-label" for="id_notify_on_done">
                Notify me when print job is done
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 offset-sm-2 col-form-label">
            <div class="custom-control custom-checkbox form-check-inline">
              {% render_field form.notify_on_canceled class="custom-control-input" %}
              <label class="custom-control-label" for="id_notify_on_canceled">
                Notify me when print job is canceled
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 offset-sm-2 col-form-label">
            <div class="custom-control custom-checkbox form-check-inline">
              {% render_field form.account_notification_by_email class="custom-control-input" %}
              <label class="custom-control-label" for="id_account_notification_by_email">
                Notify me on account events (such as running out of Detective Hours)
              </label>
            </div>
          </div>
        </div>
        <br />
        <h2>Email</h2>
        <div class="row">
          <label for="id_email" class="col-sm-2 col-form-label">Primary Email</label>
          <div class="col-sm-10 col-form-label text-muted">{{form.instance.email}} ({% if form.instance.is_primary_email_verified %}Verified{% else %}Unverified{% endif %})
            <div class="form-text"><a href="/accounts/email">Manage email addresses</a></div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10 col-form-label">
            <div class="custom-control custom-checkbox form-check-inline">
              {% render_field form.print_notification_by_email class="custom-control-input" %}
              <label class="custom-control-label" for="id_print_notification_by_email">
                Send print job notifications to all verified email addresses
              </label>
            </div>
          </div>
        </div>
        <br />
        <h2>SMS</h2>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Phone Number</label>
          <div class="col-sm-10 col-form-label">
            {% if settings.TWILIO_ENABLED %}
            <div class="form-group row">
              <div class="col-sm-6">
                {% render_field form.phone_country_code class="form-control" %}
              </div>
              <div class="col-sm-6">
                {% render_field form.phone_number class="form-control" placeholder="Phone Number" %}
                {% if form.phone_number.errors %}
                <small class="text-danger">
                  {% for error in form.phone_number.errors %}
                  {{ error|escape }}
                  {% endfor %}
                </small>
                {% endif %}
              </div>
            </div>

            <small class="text-muted">
                <div>Can't find your country code?</div>
                <div>The Spaghetti Detective Team is currently self-funded. Therefore we can't afford to open to
                  countries with high SMS cost. We will add more countries once we find a cost-effective SMS solution,
                  or secure sufficient funding.</div>
              </small>
            {% else %}
            <p class="text-muted">Please configure TWILIO_* items in settings to enable phone alert.</p>
            {% endif %}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10 col-form-label">
            <div class="custom-control custom-checkbox form-check-inline">
              {% render_field form.alert_by_sms class="custom-control-input" %}
              <label class="custom-control-label" for="id_alert_by_sms">
                Alert me via SMS when print failures are detected
              </label>
            </div>
            {% if not form.instance.is_pro %}
            <small class="text-warning">Note: You won't be alerted via SMS because this is a Pro feature and you are on the Free plan.</small>
            {% endif %}
          </div>
        </div>
        <br />
        <h2>Pushbullet</h2>
        <small class="form-text text-muted">
          If you have a Pushbullet account, you can
          <a href="https://www.pushbullet.com/#settings">generate an access token</a>
          and enter it here.
        </small>
        <br />
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Access Token</label>
          <div class="col-sm-10 col-form-label">
            {% render_field form.pushbullet_access_token class="form-control" placeholder="Pushbullet Access Token" %}
            {% if form.pushbullet_access_token.errors %}
            <small class="text-danger">
              {% for error in form.pushbullet_access_token.errors %}
              {{ error|escape }}
              {% endfor %}
            </small>
            {% endif %}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10 col-form-label">
            <div class="custom-control custom-checkbox form-check-inline">
              {% render_field form.print_notification_by_pushbullet class="custom-control-input" %}
              <label class="custom-control-label" for="id_print_notification_by_pushbullet">
                Send print job notifications via PushPullet
              </label>
            </div>
            <small class="text-muted">You will always be alerted via PushPullet on print failures.</small>
          </div>
        </div>
        <br />
        {% if bot_name %}
        <h2>Telegram</h2>
        <small class="form-text text-muted">
          Login to be notified by our Telegram bot.
        </small>
        <br />
        {{ form.telegram_chat_id }}
        <div class="form-group row">
        {% if user.telegram_chat_id %}
        <div class="col-sm-12" id="id_telegram_logout_btn">
        <div class="btn btn-primary float-left"
          onclick="onTelegramLogout()">Unlink Telegram</div>
        </div>
        {% else %}
        <script async src="https://telegram.org/js/telegram-widget.js?7"
          data-telegram-login="{{ bot_name }}"
          data-size="large"
          data-onauth="onTelegramAuth(user)"
          data-request-access="write"></script>
        {% endif %}

        <script type="text/javascript">
          function onTelegramAuth(user) {
            document.getElementById("id_telegram_chat_id").value = JSON.stringify(user);
            document.getElementById("preference_form").submit()
          }

          function onTelegramLogout() {
            document.getElementById("id_telegram_chat_id").value = "";
            document.getElementById("preference_form").submit()
          }
        </script>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10 col-form-label">
            <div class="custom-control custom-checkbox form-check-inline">
              {% render_field form.print_notification_by_telegram class="custom-control-input" %}
              <label class="custom-control-label" for="id_print_notification_by_telegram">
                Send print job notifications via Telegram
              </label>
            </div>
            <small class="text-muted">You will always be alerted via Telegram on print failures.</small>
          </div>
        </div>
        {% endif %}
        <br /><br />
        <div class="form-group row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary float-right">Save</button>
          </div>
        </div>
      </form>
      {% endwith %}
    </div>
  </div>
</div>

{% endblock content %}
