{% extends "layout.html" %}
{% load static %}
{% load humanize %}

{% block content %}
  <div class="px-3 py-5">
    {% if total_credits > 0 %}
      <h2>You have earned: </h2><p>{% with ''|center:total_credits as range %}{% for _ in range %} <img class="dh-icon"
          src="{% static 'img/detective-hour-inverse.png' %}"> {% endfor %} {% endwith %}</p>
      <small>Thank you for helping The Detective get better by telling her what she got wrong. <a href="https://www.thespaghettidetective.com/docs/how-does-credits-work/">How does it work?</a></small>
      <hr />

      <br />
      {% for credit in user_credits %}
      <div class="row">
        <div class="col-sm-3 col-md-2 text-muted">
          {{ credit.updated_at|naturalday }}
        </div>
        <div class="col-sm-3 col-md-2">
            {% with ''|center:credit.amount as range %}
            {% for _ in range %}<img class="dh-icon"
            src="{% static 'img/detective-hour-inverse.png' %}">{% endfor %}
            {% endwith %}
          </div>
        <div class="col-sm-6 col-md-8" style="overflow-wrap: break-word">{{ credit.print.filename }}</div>
      </div>
      {% endfor %}
    {% else %}
      <p>You have not earned any <img class="dh-icon" src="{% static 'img/detective-hour-inverse.png' %}"> yet.</p>
      <p><a href="">How does it work?</a></p>
    {% endif %}
</div>

{% endblock content %}
