{% extends "layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="row justify-content-center user-preferences">
  <div class="col-sm-11 col-md-10 col-lg-8">
    <div class="form-container">
      <h2>Profile</h2>
      {% if form.errors %}
      <div class="text-danger">Wait! You have got errors to fix.</div>
      {% endif %}
      <form id="preference_form" method="POST">
        {% csrf_token %}
        {% with WIDGET_ERROR_CLASS='field_error' WIDGET_REQUIRED_CLASS='field_required' %}
        <div class="form-group row">
          <label for="id_email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10 col-form-label text-muted">{{form.instance.email}}
            <small class="form-text">You can't change your email address. Please <a
                href="mailto:support@thespaghettidetective.com">email us</a> if you really want to.</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="id_first_name" class="col-sm-2 col-form-label">First Name</label>
          <div class="col-sm-10">
            {% render_field form.first_name class="form-control" %}
          </div>
        </div>
        <div class="form-group row">
          <label for="id_last_name" class="col-sm-2 col-form-label">Last Name</label>
          <div class="col-sm-10">
            {% render_field form.last_name class="form-control" %}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary float-right">Save</button>
          </div>
        </div>
      </form>
      <br /><br />
      <h2>Notification</h2>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Phone</label>
        <div class="col-sm-10 col-form-label">
          {% if settings.TWILIO_ENABLED %}
          {% if form.instance.phone_country_code and form.instance.phone_number %}
          {{form.instance.phone_country_code}} {{form.instance.phone_number}}
          <a href="{% url 'phone_verification' %}" class="btn btn-primary mx-3">Change</a>
          {% else %}
          <a href="{% url 'phone_verification' %}" class="btn btn-primary">Add phone to be alerted via text (SMS)</a>
          {% endif %}
          <small class="form-text text-muted">You will be alerted via text (SMS) on your phone number.</small>
          {% else %}
          <p class="text-muted">Please configure TWILIO_* items in settings to enable phone alert.</p>
          {% endif %}
        </div>
      </div>
      {% endwith %}
      <hr />

    </div>
  </div>
</div>

{% endblock content %}
