{% load static %}
{% load hijack_tags %}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/xhtml;charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>README</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.4.0/adapter.min.js" ></script>
    <script src="{% static 'js/janus.js' %}"></script>
    <script src="{% static 'js/streaming.js' %}"></script>

</head>
<body>
        <div class="panel-body" id="stream"></div>
    <button id="sssstart">Start</button>
    <button id="sssstop">Stop</button>
</body>
</html>
