$color-primary: #9965f4;
$color-secondary: #03DAC6;
$color-gray: #4E5D6C;
$color-form-bg: rgb(43, 62, 80);
$color-disabled: rgba(255, 255, 255, 0.4);
$color-success: #5cb85c;
$color-error: #d9534f;
$color-bg: #2B3E50;
$color-text: #EBEBEB;
