@import 'theme';
@import 'mixin';

.pricing {
    #pricing-selections {

        .btn-group-toggle {
            background: $color-bg;
        }

        .btn {
            border: solid thin darken(white, 60);
        }
    }

    .price-matrix {
        padding-top: 2rem;

        div[class^="col-"] {
            padding: 0px;
            border-top: solid thin darken(white, 60);
            border-bottom: solid thin darken(white, 60);
            background: $color-bg;

            >div {
                padding-left: 1rem;
                padding-right: 1rem;
            }

            .price-header {
                height: 11rem;
            }

            .price-action {
                height: 6rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-bottom: solid thin darken(white, 60);
                border-top: solid thin darken(white, 60);
            }

            .feature-header {
                margin-top: 2rem;
                height: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: darken($color-text, 30);
            }

            .features {
                &.essentials {
                    @include respond-above(md) {
                        height: 25em;
                    }
                    @include respond-between(sm, md) {
                        height: 18em;
                    }
                    @include respond-below(sm) {
                        padding-bottom: 1em;
                    }
                }

                >div {
                    display: flex;
                    padding-top: 0.7rem;
                }

                i {
                    padding-right: 0.7rem;
                    padding-top: 0.35rem;
                    color: lighten($color-primary, 12);
                }

                .dh-per-month {
                    // font-weight: bold;
                    // font-size: 1.2em;
                }

                a {
                    color: $color-primary;
                    text-decoration: none;
                    background-color: transparent;

                    &:hover {
                        color: darken($color-primary, 15);
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }

        @include respond-above(md) {
            >div:not(:first-child) {
                border-left: solid thin darken(white, 60);
            }
        }

        @include respond-between(sm, md) {
            >div:nth-child(2n+0) {
                border-left: solid thin darken(white, 60);
            }
        }

        .plan-name {
            font-size: 31px;
            line-height: 43px;
            padding-top: 1.5rem;
        }

        .plan-price {
            font-size: 31px;
            line-height: 43px;
            font-weight: bold;
            padding-top: 1.5rem;

            .price-unit {
                font-size: 18px;
                color: darken($color-text, 30);
            }
        }
    }
}

.price-calculator {
    .price-line {
        display: flex;
    }

    .slider {
        width: 100%;
        .slider-handle {
            background: $color-primary;
        }
        .slider-selection {
            background: lighten($color-primary, 10);
        }
    }

    .cal-selection {
        font-size: 1.5em;
        font-weight: bold;
        color: $color-primary;
    }

    .btn-group-toggle {
        .btn {
            border: solid thin darken(white, 60);
        }
    }
}

.need-more-hours {
    li {
        padding: 0.3em 0em;
    }
}
