@import 'theme';
@import 'mixin';


.pricing {

    .btn-group-toggle {
        background: $color-bg;
        .btn {
            border: solid thin darken(white, 60);
        }
    }

    .price-matrix {
        padding-top: 2rem;

        div[class^="col-"] {
            padding: 0px;
            border-top: solid thin darken(white, 60);
            border-bottom: solid thin darken(white, 60);
            border-right: solid thin darken(white, 60);
            background: $color-bg;

            >div {
                padding-left: 1rem;
                padding-right: 1rem;
            }

            .price-header {
                height: 14.5rem;
                background: darken($color-bg, 8);

                .price-sub {
                    font-size: 0.95em;
                    font-weight: lighter;
                    margin-top: -0.2em;
                }
            }

            .price-action {
                height: 6rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-bottom: solid thin darken(white, 60);
                border-top: solid thin darken(white, 60);
            }

            .feature-header {
                margin-top: 2rem;
                height: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: darken($color-text, 30);
            }

            .features {
                &.keyfeatures {
                    font-weight: bolder;
                }

                &.essentials {
                    font-weight: lighter;
                }

                >div {
                    display: flex;
                    padding-top: 0.7rem;
                }

                i {
                    padding-right: 0.7rem;
                    padding-top: 0.35rem;
                    color: lighten($color-primary, 12);
                }
            }
        }

        @include respond-above(md) {
            >div:first-child {
                border-left: solid thin darken(white, 60);
            }
        }

        @include respond-between(sm, md) {
            >div:nth-child(2n+1) {
                border-left: solid thin darken(white, 60);
            }
        }

        @include respond-below(sm) {
            >div {
                border-left: solid thin darken(white, 60);
            }
        }

        .plan-name {
            font-size: 31px;
            line-height: 43px;
            padding-top: 1.5rem;
        }

        .plan-price {
            font-size: 31px;
            line-height: 43px;
            font-weight: bold;
            padding-top: 1.5rem;

            .price-unit {
                font-size: 18px;
                color: darken($color-text, 30);
            }
        }
    }

    #accordion {
        .card {
            background: $color-bg;
        }
        .card-header {
            a {
                color: inherit;
                text-decoration: none;
            }
        }
        .card-link {
            p{position:absolute;top:5px;right:20px;font-size:20px;color:white;
            -webkit-animation: minus 0.5s;}

            @keyframes minus {
                from {
                    transform:rotate(0deg);
                }
                to {
                    transform:rotate(360deg);
                }
            }
    }
    [aria-expanded="false"] > .expanded, [aria-expanded="true"] > .collapsed {display: none;}
    }

}
.subcribe-dlg {
    font-weight: normal;
    .input-group {
        width: 7.5rem;
        border: solid thin darken(white, 60);
    }
    label.custom-control-label {
        line-height: 25px;
    }
    th {
        font-size: 1.5em;
    }
    table {
        background: darken($color-bg, 10);
    }
    .btn-group-toggle {
        .btn {
            border: solid thin darken(white, 60);
            font-size: 0.9rem;
            box-shadow: none;
        }
    }
}

