@import 'theme';

/*** Global styles */
body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  min-height: 100vh;
  padding-bottom: 74px; /* Should be equal to the height of your footer */
  background: repeating-linear-gradient(45deg, darken($color-bg, 3) 0%, darken($color-bg, 3) 10%, $color-bg 0%, $color-bg 50%) 0 / 15px 15px;
}

.form-control:focus {
  box-shadow: none!important;
  border-color: #ced4da!important;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255,255,255,.6);
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;

  p {
    margin: 0;
    font-size: 12px;
  }
}

.navbar {
  padding: 0.5rem 1rem;
  a.navbar-brand {
    margin-top: -3px;
  }
  a.glowing {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $color-primary, 0 0 70px $color-primary, 0 0 80px $color-primary, 0 0 100px $color-primary, 0 0 150px $color-primary;
  }
}

.flipH {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flipV {
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
}

.flipH.flipV {
  -webkit-transform: scaleX(-1) scaleY(-1);
  -moz-transform: scaleX(-1) scaleY(-1);
  -ms-transform: scaleX(-1) scaleY(-1);
  transform: scaleX(-1) scaleY(-1);
}

.rotate90 {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.swal2-popup {
  background-color: darken($color-bg, 5) !important;
  border-radius: unset !important;
  .swal2-title {
    color: $color-text !important;
  }

  &.swal2-modal {
    .swal2-content {
      color: $color-text !important;
      font-size: 1rem !important;
    }
    .swal2-title {
      color: $color-text !important;
      font-size: 1.4rem !important;
    }
    button {
      border-radius: unset !important;
      border: none !important;

      &.swal2-confirm {
        background-color: $color-primary !important;
      }

      &.swal2-cancel {
        background-color: $color-secondary !important;
      }
    }
  }
}

.form-container {
  margin: 3em 0em;
  padding: 2.5em;
  background: $color-bg;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3) !important;
  border: none !important;
}

/** Webcam */

.webcam_container {
  width: 100%;
  position: relative;
  outline: none;

  background-color: black;


  .webcam_rotated {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    pointer-events: none;

    .webcam_fixed_ratio {
      position: absolute;
      transform: rotate(-90deg);
      top: 0;
      bottom: 0;
      pointer-events: none;

      .webcam_fixed_ratio_inner {
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
    }
  }

  .webcam_unrotated {
    .webcam_fixed_ratio {
      width: 100%;
      pointer-events: none;

      padding-bottom: 100%;
      &.ratio43 {
        padding-bottom: 75%;
      }

      &.ratio169 {
        padding-bottom: 56.25%;
      }

      &.ratio1610 {
        padding-bottom: 62.5%;
      }

      position: relative;

      .webcam_fixed_ratio_inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
      }
    }
  }


  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

/*** Printer Card *****/
.printer-card {
  margin-top: 2em;

  .card-header {
    button.dropdown-toggle {
      background-color: transparent;
      border: none;
    }
  }
  .card-body {
    .container-fluid {
      padding: 0px;
    }

    .gauge {
      padding: 8px;
    }

    &.failure-alert {
      padding: .65em 1em;
      a {
        color: darken($color-primary, 20);
        &:hover {
          color: darken($color-primary, 35);
        }
      }
    }
  }
}

#new-printer {
  min-height: 25em;
  .new-printer-container {

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 6em;

    a {
      text-align: center;
      border: thin dashed;
      border-color: darken($color-primary, 10);
      padding: 5em 3em;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

/*** Printer Form *****/

#smartwizard {
  &.sw-theme-default {
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3) !important;
    border: none !important;
    .sw-toolbar {
      background: none !important;
      border-top: thin solid;
    }
    > ul.step-anchor > li > a {
      color: $color-disabled !important;
    }
    > ul.step-anchor > li.done > a {
      color: #EBEBEB !important;
    }
    > ul.step-anchor > li.active > a {
      color: $color-primary !important;

      &:after {
        background: $color-primary;
      }
    }
  }

  .step-content {
    min-height: 24em;
    background: none;

    &.form-step {
      display: flex;
      flex-flow: column;

      .form-label {
        font-size: 1.1rem;
        margin-top: 1.5rem;
      }

      input[type="checkbox"] {
        margin-right: 0.5rem;
      }
    }

    &.token-step
    &.plugin-step {
      padding: 1em 0.5em;
    }

    img {
      padding: 1em 2em;
    }

    &.connection-step {
      text-align: center;
      padding: 1em;

      i {
        margin: 1em;
      }

      #connected {
        i {
          color: $color-success;
        }
      }
    }

    .sensitivity {
      >div {
        margin-bottom: 0.5rem;
      }

      div[class^="hint-"] {
        display: none;
      }

      #sensitivity-slider {
        width: 100%;
        .slider-selection {
          background: $color-primary;
        }
        .slider-handle {
          background: $color-secondary;
        }
      }
      .slider.slider-horizontal:hover, .slider.slider-vertical:hover {
          .tooltip.tooltip-main {
              opacity: 0.7 !important;
          }
          .tooltip-inner {
              font-size: 90%;
              width: auto;
          }
      }
      .slider.slider-horizontal:hover .tooltip.tooltip-main.top .tooltip-arrow:after,
      .slider.slider-vertical:hover .tooltip.tooltip-main.top .tooltip-arrow:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        left: 45%;
        bottom: -10px;
        border: transparent 5px solid;
        border-top: #000 5px solid;
      }
    }
  }
}

/**** printer-acted */
.printer-acted {
  text-align: center;

  i {
    color: $color-success;
  }
}

/*** timelapse-gallery  */

.timelapse-gallery {

  .card-body {
    position: relative;
    padding: 2rem 0 0.5rem 0;
  }

  .card-img-top {
    position: relative;

    a.fullscreen-btn {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.5rem;
      background-color: rgba(0,0,0,0.7);
      color: rgba(255,255,255,0.5);
    }
  }
  #tl-fullscreen-modal {
    .modal-full {
      min-width: 100%;
      margin: 0;
    }

    .modal-full .modal-content {
      min-height: 100vh;

      .modal-body {
        padding: 0;

        .video-player {
          height: calc(100vh - 251px);
        }
      }
    }
  }
  .gauge {
    padding: 1.2rem 0rem 0rem;
  }

  h1 {
    margin-top: 0.5em;
  }

  .hints {
    font-size: smaller;
    margin-bottom: 1em;
  }

  .timelapse-card {
    margin-top: 0.75em;
  }

  .pagination {
    margin-bottom: 0;
    margin-top: 15px;
  }

  .alert-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.3rem;
    display: none;
  }

  .card-body.plain-view {
    min-height: 186px;
  }

  img.toggle-icon {
    width: 20px;
    height: 20px;
  }

  .print-status {
    font-size: 0.9rem;
  }
}

/*** User preferences **/
.user-preferences {
  h2 {
    border-bottom-style: solid;
    border-bottom-width: thin;
  }
}
