@import 'theme';

/*** Global styles */
body {
  font-family:Roboto, sans-serif;
  position: relative;
  min-height: 100vh;
  padding-bottom: 74px; /* Should be equal to the height of your footer */
}

.form-control:focus {
  box-shadow: none!important;
  border-color: #ced4da!important;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255,255,255,.6);
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;

  p {
    margin: 0;
    font-size: 12px;
  }
}

.navbar {
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  a.navbar-brand {
    margin-top: -3px;
  }
}

.swal2-popup {
  background-color: darken($color-bg, 5) !important;
  border-radius: unset !important;
  .swal2-title {
    color: $color-text !important;
  }

  &.swal2-modal {
    .swal2-content {
      color: $color-text !important;
      font-size: 1rem !important;
    }
    .swal2-title {
      color: $color-text !important;
      font-size: 1.4rem !important;
    }
    button {
      border-radius: unset !important;
      border: none !important;

      &.swal2-confirm {
        background-color: $color-primary !important;
      }
      
      &.swal2-cancel {
        background-color: $color-secondary !important;
      }
    }
  }
}
/** Webcam */

.webcam_container {
  width: 100%;
  position: relative;
  outline: none;

  background-color: black;

  .webcam_rotated {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    pointer-events: none;

    .webcam_fixed_ratio {
      position: absolute;
      transform: rotate(-90deg);
      top: 0;
      bottom: 0;
      pointer-events: none;

      .webcam_fixed_ratio_inner {
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
    }
  }

  .webcam_unrotated {
    .webcam_fixed_ratio {
      width: 100%;
      pointer-events: none;

      padding-bottom: 100%;
      &.ratio43 {
        padding-bottom: 75%;
      }

      &.ratio169 {
        padding-bottom: 56.25%;
      }

      &.ratio1610 {
        padding-bottom: 62.5%;
      }

      position: relative;

      .webcam_fixed_ratio_inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
      }
    }
  }


  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

/*** Printer Card *****/
.printer-card {
  margin-top: 2em;

  .card-header {
    button.dropdown-toggle {
      background-color: transparent;
      border: none;
    }
  }
  .card-body {
    .container-fluid {
      padding: 0px;
    }

    .gauge {
      padding: 8px;
    }

    &.failure-alert {
      padding: .65em 1em;
      a {
        color: darken($color-primary, 20);
        &:hover {
          color: darken($color-primary, 35);
        }
      }
    }
  }
}

#new-printer {
  min-height: 25em;
  .new-printer-container {
    
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 6em;

    a {
      text-align: center;
      border: thin dashed;
      border-color: darken($color-primary, 10);
      padding: 5em 3em;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

/*** Printer Form *****/

#smartwizard {
  margin-top: 3em;
  padding: 2.5em;

  &.sw-theme-default {
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3) !important;
    border: none !important;
    .sw-toolbar {
      background: none !important;
      border-top: thin solid;
    }
    > ul.step-anchor > li > a {
      color: $color-disabled !important;
    }
    > ul.step-anchor > li.done > a {
      color: #EBEBEB !important;
    }
    > ul.step-anchor > li.active > a {
      color: $color-primary !important;

      &:after {
        background: $color-primary;
      }
    }
  }

.step-content {
  min-height: 12em;
  background: none;

  &.form-step {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  &.token-step {
    padding: 1em 0.5em;
  }

  &.connection-step {
    text-align: center;
    padding: 2em;

    i {
      margin: 1em;
    }

    #connected {
      i {
        color: $color-success;
      }
    }
  }
}
}
