@import 'theme';

.form-control:focus {
  box-shadow: none!important;
  border-color: #ced4da!important;
}

/** Webcam */

.webcam_container {
  width: 100%;
  position: relative;
  outline: none;

  background-color: black;

  .webcam_rotated {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    pointer-events: none;

    .webcam_fixed_ratio {
      position: absolute;
      transform: rotate(-90deg);
      top: 0;
      bottom: 0;
      pointer-events: none;

      .webcam_fixed_ratio_inner {
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
    }
  }

  .webcam_unrotated {
    .webcam_fixed_ratio {
      width: 100%;
      pointer-events: none;

      padding-bottom: 100%;
      &.ratio43 {
        padding-bottom: 75%;
      }

      &.ratio169 {
        padding-bottom: 56.25%;
      }

      &.ratio1610 {
        padding-bottom: 62.5%;
      }

      position: relative;

      .webcam_fixed_ratio_inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
      }
    }
  }


  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

/*** Printer Card *****/
.printer-card {
  min-height: 25em;
  margin-top: 2em;

  .card-body {
    .container-fluid {
      padding: 0px;

      div[class*="col-"]:not(:last-child) {
        border-right: thin solid;
      }
    }
  }

  .new-printer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 6em;

    a {
      text-align: center;
      border: thin dashed;
      border-radius: 0.5em;
      border-color: lighten($color-primary, 20);
      padding: 5em 3em;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

/*** Printer Form *****/

#smartwizard {
  margin-top: 3em;
  padding: 2.5em;

  &.sw-theme-default {
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3) !important;
    border: none !important;
    .sw-toolbar {
      background: none !important;
      border-top: thin solid;
    }
    > ul.step-anchor > li > a {
      color: $color-disabled !important;
    }
    > ul.step-anchor > li.done > a {
      color: #EBEBEB !important;
    }
    > ul.step-anchor > li.active > a {
      color: $color-primary !important;

      &:after {
        background: $color-primary;
      }
    }
  }

.step-content {
  min-height: 12em;
  background: none;

  &.form-step {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  &.token-step {
    padding: 1em 0.5em;
  }

  &.connection-step {
    text-align: center;
    padding: 2em;

    i {
      margin: 1em;
    }

    #connected {
      i {
        color: $color-success;
      }
    }
  }
}
}
