{% load account %}{% user_display user as user_display %}{% load i18n %}{% autoescape off %}
Thanks for signing up for The Spaghetti Detective! You’re almost ready to settle The Detective into your home, start a print, and relax - The Detective has got your back!
<br /><br />
If you want to receive emails when a print failure is detected, or when your print is done, please click <a href="{{ activate_url }}">this link</a> to verify your email address.
<br /><br />
Please don't forget to add our email address <strong>support@thespaghettidetective.com</strong> to your contact list so that our emails won't end up in your spam folder.
{% endautoescape %}
