@import 'theme';
@import 'mixin';

table.pricing {
    background: rgb(var(--color-body-bg-d-10-lighter));
    color: rgb(var(--color-main-text));

    th {
        font-size: 1.2em;
    }

    tr:nth-child(2n), tfoot tr {
        background-color: rgb(var(--color-body-bg-d-10-darker));
    }
}

.user-subscription table {
    color: rgb(var(--color-main-text));
}

.pricing {
    .btn.btn-primary {
        color: #fff;
    }

    .btn-group-toggle {
        background: rgb(var(--color-bg-body));
        .btn {
            border: solid thin rgb(var(--color-white-d-60));

            &:not(.btn-primary) {
                color: rgb(var(--color-primary-light));
            }
        }
    }

    .price-matrix {
        div[class^="col-"] {
            padding: 0px;
            border-top: solid thin rgb(var(--color-dividers));
            border-bottom: solid thin rgb(var(--color-dividers));
            border-right: solid thin rgb(var(--color-dividers));
            background: rgb(var(--color-body-bg-darker));

            >div {
                padding-left: 1rem;
                padding-right: 1rem;
            }

            .price-header {
                height: 15rem;
                background: rgb(var(--color-body-bg-l-3));
                &.dh-pack-header {
                    height: 12rem;
                }

                .price-sub {
                    font-size: 0.95em;
                    font-weight: lighter;
                    margin-top: -0.1em;
                }
            }

            .price-action {
                height: 6rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-bottom: solid thin rgb(var(--color-dividers));
                border-top: solid thin rgb(var(--color-dividers));
            }

            .feature-header {
                margin-top: 2rem;
                height: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: rgb(var(--color-less-emphasis-body-text));
            }

            .features {
                &.keyfeatures {
                    font-weight: bolder;
                }

                &.essentials {
                    font-weight: lighter;
                }

                &.dh-pack {
                    height: 14rem;
                    font-weight: lighter;
                }

                >div {
                    display: flex;
                    padding-top: 0.7rem;
                }

                i {
                    padding-right: 0.7rem;
                    padding-top: 0.35rem;
                    color: rgb(var(--color-tsd-purple));
                }
            }
        }

        @include respond-above(sm) {
            >div:first-child {
                border-left: solid thin rgb(var(--color-dividers));
            }
        }

        @include respond-below(md) {
            >div {
                border-left: solid thin rgb(var(--color-dividers));
            }
        }

        .plan-name {
            font-size: 31px;
            line-height: 43px;
            padding-top: 1.5rem;
        }

        .plan-price {
            font-size: 31px;
            line-height: 43px;
            font-weight: bold;
            padding-top: 1.5rem;

            .price-unit {
                font-size: 18px;
                color: rgb(var(--color-less-emphasis-body-text));
            }
        }
    }
}
.subcribe-dlg {
    font-weight: normal;

    .btn.btn-num-spinner {
        color: rgb(var(--color-main-text));
    }

    .input-group {
        width: 7.5rem;
        border: solid thin rgb(var(--color-white-d-60));
        button.btn-outline-primary {
            border-radius: 0px !important;
        }
    }
    
    label.custom-control-label {
        line-height: 25px;
    }
    th {
        font-size: 1.5em;
    }
    .btn-group-toggle {
        .btn {
            border: solid thin rgb(var(--color-white-d-60));
            font-size: 0.9rem;
            box-shadow: none;

            &:not(.btn-primary) {
                color: rgb(var(--color-primary-light));
            }
        }
    }

    .custom-radio.recommended {
        .tag {
            margin-left: 0.5em;
            background: rgb(var(--color-tsd-purple));
            border: solid thin;
            border-radius: 4px;
            padding: 0px 3px;
        }
    }
}

.detective-hour-log {
    table {
        td {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 20em;
        }
    }
}
