@import '../../../app/static/scss/_variables.scss'
@import '../../../app/static/scss/_theme.scss'
@import '../../../app/static/scss/_mixin.scss'

@import '../../node_modules/bootstrap/scss/bootstrap'
@import '../../node_modules/bootstrap-vue/src/index.scss'

@import './_bootswatch.scss'

@import '../../../app/static/scss/main.scss'
@import '../../../app/static/scss/auth.scss'
@import '../../../app/static/scss/ent.scss'
@import '../../../app/static/scss/printer.scss'

.square-btn
  border-radius: 0px

.focused-feedback-icon
  vertical-align: middle
  font-size: 1.8em
