@import 'theme';
@import 'mixin';

// Dark theme by default
:root {
  --color-primary-variant: 154 106 239;
  --color-primary: 165 123 238;
  --color-on-primary: 255 255 255;
  --color-secondary: 235 235 235;
  --color-on-secondary: 40 48 58;
  --color-success: 92 184 92;
  --color-success-variant: 76 174 76;
  --color-on-success: 255 255 255;
  --color-danger: 217 83 79;
  --color-danger-variant: 194 65 61;
  --color-on-danger: 255 255 255;
  --color-warning: 240 173 78;
  --color-warning-variant: 219 154 63;
  --color-on-warning: 255 255 255;
  --color-on-warning-2: 0 0 0;
  --color-background: 35 49 65;
  --color-surface-primary: 72 91 113;
  --color-surface-secondary: 45 62 79;
  --color-overlay: 0 0 0;
  --color-hover: 255 255 255;
  --color-divider: 106 123 138;
  --color-text-primary: 235 235 235;
  --color-text-secondary: 170 172 176;
  --color-text-help: 76 155 232;
  --color-input-background: 66 86 107;
  --color-table-accent-1: 39 50 63;
  --color-table-accent-2: 27 36 46;
  --color-icon-tunneling-1: 234 234 234;
  --color-icon-tunneling-2: 205 205 205;
  --color-icon-navbar-brand: 255 255 255;
  --url-logo-bg: url(/static/img/logo-bg/logo-bg_dark.svg);
  --url-tail-spin: url(/static/img/tail-spin/tail-spin_dark.svg);
  --shadow-widget: 0px 3px 30px rgba(0, 0, 0, 1);
}

/*** Global styles */
body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  position: relative;
  min-height: 100vh;
  padding-bottom: 74px; /* Should be equal to the height of your footer */
  background: rgb(var(--color-background));
  color: rgb(var(--color-text-primary));
}

.borderless {
  border: none !important;
}

button, .btn {
  border-width: 2px;
  border-radius: 300px;

  &.no-corner {
    border-radius: 0;
    border-width: 1px;
  }
  &.no-shadow {
    outline: none;
    box-shadow: none;
  }
  &.no-border {
    border: none;
  }
}

.btn {
  &:disabled, &.disabled {
    cursor: not-allowed;
    opacity: 0.35;
    pointer-events: all !important;
  }
}

.custom-control-label {
  &::before {
    border: rgb(var(--color-primary)) solid 2px;
  }
}

.custom-switch {
  .custom-control-label {
    &::before {
      background: rgb(255 255 255 / 0.4)
    }
  }
}

.toggle-label {
  margin-bottom: 0;
  padding: 0.1rem 0 0.35rem 0;
}

.hint {
  cursor: help;
  border-bottom: dotted thin;
  line-height: initial;
  margin-bottom: 0.25em;
}

.hide {
  display: none;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgb(var(--color-text-primary));
  background-color: rgb(var(--color-surface-secondary));
  position: absolute;
  bottom: 0;
  width: 100%;

  p {
    margin: 0;
    font-size: 12px;
  }
}

.text-subscript {
  font-size: 0.53em;
}

.bootstrap-select {
  button {
    &.dropdown-toggle {
      background-color: rgb(var(--color-primary));
      border-color: rgb(var(--color-primary));
    }
    border-radius: 0;
  }
}

.navbar {
  padding: 0.5rem 1rem;
  background: rgb(var(--color-surface-primary)) !important;

  a.navbar-brand {
    margin-top: -3px;
  }
  .nav-item {
    text-transform: uppercase;
    &.active, &:hover {
      background-color: rgb(var(--color-hover) / .075);

      // .nav-link {
      //   color: #fff !important;
      // }
    }
  }
  .nav-link {
    color: rgb(var(--color-text-primary)) !important;
  }
  .user-menu {
    text-transform: none;
  }
  .glowing {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(var(--color-primary)), 0 0 70px rgb(var(--color-primary)), 0 0 80px rgb(var(--color-primary)), 0 0 100px rgb(var(--color-primary)), 0 0 150px rgb(var(--color-primary));
  }

  .badge-btn {
    position: relative;
    height: 1.8rem;
    margin-right: 1.5em;
    img {
      height: 1.3rem;
    }
    .badge {
      position: absolute;
      left: 22px;
      top: 1px;
      height: 18px;
      border-radius: 4px;
      background-color: rgb(var(--color-primary));
      transition: transform 0.2s; /* Animation */
      &:hover {
        transform: scale(1.3);
      }
    }
  }

  @media (min-width: 1200px) {
    padding: 0rem 1rem;
    .nav-item {
      padding: 0.5rem 0.24rem;
    }
  }

}

hr {
  background-color: rgb(var(--color-divider));
}

.alert {
  margin-bottom: 0;
}

a.link {
  color: rgb(var(--color-primary)) !important;
  text-decoration: none;
  background-color: transparent;

  &:hover {
      color: rgb(var(--color-primary-variant)) !important;
      text-decoration: underline !important;
      cursor: pointer !important;
  }
}

.icon-btn {
  background: transparent;
  border: none;
  color: rgb(var(--color-text-primary) / .75);

  &:hover, &:active, &:focus, &.active, &.dropdown-toggle {
    background: transparent !important;
    border: none !important;
    color: rgb(var(--color-text-primary)) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.dropdown-menu {
  .dropdown-item {
    i {
      width: 20px;
      margin-right: 16px;
      text-align: center;
    }
  }
}

.form-container {
  margin: 3em 0em;
  padding: 2.5em;
  background: rgb(var(--color-surface-secondary));
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1) !important;
  border: none !important;

  @include respond-below(md) {
    padding: 2em;
    margin: 0 -15px;
  }

  .form-control {
    background-color: rgb(var(--color-input-background));
    color: rgb(var(--color-text-primary));

    &[readonly] {
      opacity: .6;
    }
  }

  h2 {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgb(var(--color-text-primary));

    &.text-danger {
      border-bottom-color: rgb(var(--color-danger));
    }
  }
}

.flipH {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flipV {
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
}

.flipH.flipV {
  -webkit-transform: scaleX(-1) scaleY(-1);
  -moz-transform: scaleX(-1) scaleY(-1);
  -ms-transform: scaleX(-1) scaleY(-1);
  transform: scaleX(-1) scaleY(-1);
}

.rotate90 {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.swal2-popup {
  background-color: rgb(var(--color-surface-secondary)) !important;
  border-radius: unset !important;
  .swal2-title, .swal2-content, #swal2-content {
    color: rgb(var(--color-text-primary)) !important;
    text-align: left !important;
  }

  &.swal2-modal {
    .swal2-content {
      color: rgb(var(--color-text-primary)) !important;
      font-size: 1rem !important;
    }
    .swal2-title {
      color: rgb(var(--color-text-primary)) !important;
      font-size: 1.4rem !important;
    }
    .swal2-actions {
      display: flex;
    }
    button {
      border-radius: 300px !important;
      border: none !important;

      &.swal2-confirm {
        background-color: rgb(var(--color-primary)) !important;
      }
    }
    .bootstrap-select {
      button {
        border-radius: 0 !important;
      }
    }
  }
}
.swal2-container.swal2-backdrop-show.dark-backdrop {
  background-color: rgba(0,0,0,.6) !important;
}

.gauge {
  padding: 8px;
  margin-bottom: -150px;
}

.dh-icon {
  height: 1em;
  vertical-align: text-bottom;
}

.slider {
  &.slider-horizontal {
    width: 100% !important;
  }
  .slider-selection {
    background: rgb(var(--color-primary-variant));
  }
  .slider-handle {
    background: rgb(var(--color-primary));
  }
}
.slider.slider-horizontal:hover, .slider.slider-vertical:hover {
  .tooltip.tooltip-main {
      opacity: 0.7 !important;
  }
  .tooltip-inner {
      font-size: 90%;
      width: auto;
  }
}
.slider.slider-horizontal:hover .tooltip.tooltip-main.top .tooltip-arrow:after,
.slider.slider-vertical:hover .tooltip.tooltip-main.top .tooltip-arrow:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 45%;
  bottom: -10px;
  border: transparent 5px solid;
  border-top: #000 5px solid;
}

.accordion, #accordion {
  .card {
      background: rgb(var(--color-surface-secondary));
      border-color: rgb(var(--color-divider) / .6);
  }
  .card-header {
    border-color: rgb(var(--color-divider) / .6);
      a {
          color: inherit;
          text-decoration: none;
      }
  }
  .card-link {
      p {
        position:absolute;
        top:8px;
        right:20px;
        font-size:20px;
        -webkit-animation: minus 0.5s;
      }
      @keyframes minus {
          from {
              transform:rotate(0deg);
          }
          to {
              transform:rotate(360deg);
          }
      }
}
[aria-expanded="false"] > .expanded, [aria-expanded="true"] > .collapsed {display: none;}
}

/** Shared styles for printer and print cards */

.card {
  background-color: rgb(var(--color-surface-primary));

  .gauge-container {
    padding: 0 16px;
  }
  .info-section {
    &.settings {
      text-align: center;
      padding-top: 7px;
      border-bottom: solid thin rgb(var(--color-divider));
    }

    background: rgb(var(--color-surface-secondary));
    .row {
      padding: 0.3em 0em 0.1em;
      text-align: center;
      div[class^="col-"] {
          padding: 0px 8px;
      }
    }
    .numbers {
      font-size: 1.5em;
    }
    .setting-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid thin rgb(var(--color-divider));
      label {
        font-size: 1rem;
        text-align: left;
        width: 100%;
        .text-muted {
          font-size: 0.9em;
        }
      }
    }
  }
}

#pass-change-form button[type="submit"] {
    margin: 1.8em 0em 0.1em 0em;
}

.text-muted {
  color: rgb(var(--color-text-secondary)) !important;
}

.btn-outline {
  color: rgb(var(--color-text-primary));

  &:hover {
    color: rgb(var(--color-text-primary));
  }
}

.btn-outline-secondary {
  color: rgb(var(--color-secondary));
  border-color: rgb(var(--color-secondary));

  &:hover {
    background-color: rgb(var(--color-secondary));
    border-color: rgb(var(--color-secondary));
    color: rgb(var(--color-on-secondary));
  }
}

.dropdown-menu {
  background-color: rgb(var(--color-surface-primary));

  .dropdown-item {
    color: rgb(var(--color-text-primary));

    &:hover:not(.active) {
      background-color: rgb(var(--color-hover) / .075);
      color: rgb(var(--color-text-primary));
    }
  }
}

#tl-fullscreen-modal {
  .modal-full {
    max-width: 100%;
    margin: 0;
  }

  .video-js {
    height: 0;
    height: calc(100vh - 243px);
  }
}



a {
  color: rgb(var(--color-primary));

  &:hover {
    text-decoration: none;
    color: rgb(var(--color-primary-variant));
  }
}

.alert a {
  &:hover {
    color: inherit;
    opacity: .8;
  }
}

.card-header {
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: inherit;
  border-color: inherit;
  background: none;
}

.btn-light.disabled, .btn-light:disabled {
  color: rgb(var(--color-text-primary));
}

input, input.form-control {
  background-color: rgb(var(--color-input-background));
  border: 1px solid rgb(var(--color-input-background));
  color: rgb(var(--color-text-primary));
  outline: none;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(var(--color-input-background)) inset !important;
    -webkit-text-fill-color: rgb(var(--color-text-primary)) !important;
  }

  &::placeholder {
    color: rgb(var(--color-text-primary) / .5);
  }

  &:focus, &:active {
    border-color: rgb(var(--color-divider));
    outline: none;
    box-shadow: none;
  }
}

.custom-control-label::before {
  background-color: transparent;
  border-color: rgb(var(--color-text-primary));
}

.btn-outline-danger {
  color: rgb(var(--color-danger));
  border-color: rgb(var(--color-danger));

  &:hover {
    background-color: rgb(var(--color-danger));
    border-color: rgb(var(--color-danger));
    color: rgb(var(--color-on-danger));
  }
}

.table {
  border-color: rgb(var(--color-divider) / .6);
  color: rgb(var(--color-text-primary));

  th, td {
    border-color: rgb(var(--color-divider) / .6);
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(var(--color-table-accent-1) / .5);
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgb(var(--color-table-accent-2) / .5);
}

.swal2-popup .swal2-styled.swal2-cancel {
  background-color: rgb(var(--color-secondary) / .6);
}

.btn-outline-primary {
  color: rgb(var(--color-primary));
  border-color: rgb(var(--color-primary));

  &:hover {
    background-color: rgb(var(--color-primary));
    border-color: rgb(var(--color-primary));
    color: rgb(var(--color-on-primary));
  }
}

.btn-primary {
  border-color: rgb(var(--color-primary));
  background-color: rgb(var(--color-primary));

  &:hover {
    background-color: rgb(var(--color-primary-variant));
    border-color: rgb(var(--color-primary-variant));
  }
}

.btn-danger {
  border-color: rgb(var(--color-danger));
  background-color: rgb(var(--color-danger));
  color: rgb(var(--color-on-danger));

  &:hover {
    background-color: rgb(var(--color-danger-variant));
    border-color: rgb(var(--color-danger-variant));
    color: rgb(var(--color-on-danger));
  }
}

.bg-danger {
  background-color: rgb(var(--color-danger));
}

.btn-success {
  border-color: rgb(var(--color-success));
  background-color: rgb(var(--color-success));
  color: rgb(var(--color-on-success));

  &:hover {
    background-color: rgb(var(--color-success-variant));
    border-color: rgb(var(--color-success-variant));
    color: rgb(var(--color-on-success));
  }
}

.bg-warning {
  background-color: rgb(var(--color-warning));
}

.text-success {
  color: rgb(var(--color-success)) !important;
}

a.text-success {
  &:hover, &:focus {
    color: rgb(var(--color-success-variant)) !important;
  }
}

.text-warning {
  color: rgb(var(--color-warning)) !important;
}

a.text-warning {
  &:hover, &:focus {
    color: rgb(var(--color-warning-variant)) !important;
  }
}

.alert-success .close:hover {
  color: rgb(var(--color-on-success));
  opacity: 1;
}

.alert-danger .close:hover {
  color: rgb(var(--color-on-danger));
  opacity: 1;
}

.alert-warning .close:hover {
  color: rgb(var(--color-on-warning));
  opacity: 1;
}

.alert-success {
  background-color: rgb(var(--color-success));
}

.dropdown-item.active, .dropdown-item:active {
  color: rgb(var(--color-on-primary));
}

.page-item {
  .page-link {
    background-color: rgb(var(--color-surface-secondary));
  }

  &.disabled .page-link {
    background-color: rgb(var(--color-surface-secondary));
    opacity: .6;
  }
}


.modal-content {
  background-color: rgb(var(--color-surface-secondary));
}

.modal-content .close {
  color: rgb(var(--color-text-primary));
}

.nav-tabs .nav-link,
.nav-tabs .nav-link:hover,
.nav-pills .nav-link,
.nav-pills .nav-link:hover {
  color: rgb(var(--color-text-primary));
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: rgb(var(--color-background));
  border-color: rgb(var(--color-divider));
  color: rgb(var(--color-text-primary));
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: rgb(var(--color-divider));
}

.form-control:focus {
  background-color: rgb(var(--color-input-background));
  color: rgb(var(--color-text-primary));
}
