{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Too Many Requests" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
      <div class="text-center py-5">
        <h1>{% trans "Too Many Requests" %}</h1>
        <p class="lead">{% trans "You have made too many requests. Please wait a moment before trying again." %}</p>
        <a href="{% url 'account_login' %}" class="btn btn-primary">{% trans "Go to Sign In" %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}