{% extends "vue_layout.html" %}

{% load static %}

{% block vue_content %}
  <router-view
    :config='{
      twilioCountryCodes: {{ TWILIO_COUNTRY_CODES }},
    }'
  >
  </router-view>
{% endblock vue_content %}

{% block body_bottom_ext %}
  {% if not app_platform.platform %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block useful_libs %}
  {% if not app_platform.platform %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block bootstrap_js %}
  {% if not app_platform.platform %}
    {{ block.super }}
  {% endif %}
{% endblock %}
