{% extends 'email/layout.html' %}

{% block email_content %}

<p>Hi {{ print.printer.user.first_name|default:"" }},</p>

<p>
Heads up! Your printer requires filament change.
</p>

  {% if img_url %}
<table border="0" cellspacing="0" cellpadding="0" style="margin:0 auto; padding-top:16px; width: 100%; ">
  <tr>
    <td><img style="width: 100%;" alt="Print Snapshot" src="{{ img_url }}" /></td>
  </tr>
</table>
{% endif %}

<table role="module" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed">
  <tbody>
    <tr>
      <td style="padding:0px 0px 0px 0px" role="module-content" height="100%" valign="top" bgcolor="">
        <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" height="1px"
          style="line-height:1px;font-size:1px">
          <tbody>
            <tr>
              <td style="padding:0px 0px 1px 0px" bgcolor="#e7e7ea"></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="padding: 18px 0px 18px 0px;width:100%;">
      <div><b>File name:</b> {{ print.filename }}</div>
      <div><b>Printer:</b> {{ print.printer.name }}</div>
    </td>
  </tr>
</table>

<table style="padding: 48px 0px 0px 0px;">
  <tr>
    <td align="left" valign="top" style="margin:0 auto; font-family: 'Roboto', Helvetica, sans-serif;
      font-size:14px; font-weight:400; color:#888796; line-height:18px;">
      No longer want to receive print notifications by email? <a href="{{ unsub_url }}">Unsubscribe</a> or <a
        href="{{ user_pref_url }}">change notification preferences.</a>
    </td>
  </tr>
</table>

{% endblock %}
