{% extends "../layout.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <div class="row justify-content-center user-preferences">
  <div class="col-sm-11 col-md-10 col-lg-8">
    <div class="form-container" id="pass-change-form">
      <h2>{% trans "Change Password" %}</h2>
      <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
          {% csrf_token %}
          <p id="password1Help" class="form-text">Passwords must be At least 6 characters. And be secure, please.</p>
          {% with WIDGET_ERROR_CLASS='field_error' %}
            <input type="password" name="oldpassword" placeholder="Current Password"
                   aria-required="true" class="form-control" required="required" aria-label="Current Password"
                   id="id_oldpassword" {% if form.oldpassword.errors %}aria-describedby="oldPasswordHelp" aria-invalid="true"{% endif %}>
            {% if form.oldpassword.errors %}
            <small id="oldPasswordHelp" class="text-danger">
              {% for error in form.oldpassword.errors %}
              {{ error|escape }}
              {% endfor %}
            </small>
            {% endif %}
            <input type="password" name="password1" placeholder="New Password"
                   aria-required="true" class="form-control" pattern=".{6,}" aria-label="New Password"
                   required="required" id="id_password1" {% if form.password2.errors %}aria-describedby="password2Help" aria-invalid="true"{% endif %}>
            <input type="password" name="password2" placeholder="New Password (again)"
                   aria-required="true" class="form-control" pattern=".{6,}" aria-label="New Password (again)"
                   required="required" id="id_password2" {% if form.password2.errors %}aria-describedby="password2Help" aria-invalid="true"{% endif %}>
            {% if form.password2.errors %}
            <small id="password2Help" class="text-danger">
              {% for error in form.password2.errors %}
              {{ error|escape }}
              {% endfor %}
            </small>
            {% endif %}
          {% endwith %}
          <br />
          <div class="form-group row">
            <div class="col-sm-12">
              <button type="submit" name="action" class="btn btn-primary btn-block">{% trans "Change Password" %}</button>
            </div>
          </div>
      </form>
    </div>
  </div>
  </div>
{% endblock %}
