{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center user-preferences">
    <div class="col-sm-11 col-md-10 col-lg-8">
      <div class="form-container" id="pass-change-form">
        <h2>{% trans "Change Password" %}</h2>
        <br />
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
          {% include "account/snippets/password_change_form.html" %}
            <br />
            <div class="form-group row">
              <div class="col-sm-12">
                <button type="submit" name="action" class="btn btn-primary btn-block">{% trans "Change Password" %}</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
