{% extends "../layout.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <div class="row justify-content-center user-preferences">
  <div class="col-sm-11 col-md-10 col-lg-8">
    <div class="form-container" id="pass-change-form">
      <h2>{% trans "Change Password" %}</h2>
      <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
          {% csrf_token %}
          {% render_field form.oldpassword class="form-control" aria-describedby="password1Help" class="form-control" %}
          {% render_field form.password1 class="form-control" aria-describedby="password1Help" placeholder="New Password" %}
          {% render_field form.password2 class="form-control" aria-describedby="password1Help" placeholder="New Password (again)" %}
          <div class="form-group row">
            <div class="col-sm-12">
              <button type="submit" name="action" class="btn btn-primary btn-block float-right">{% trans "Change Password" %}</button>
            </div>
          </div>
      </form>
    </div>
  </div>
  </div>
{% endblock %}
