{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center user-preferences">
    <div class="col-sm-11 col-md-10 col-lg-8">
      <div class="form-container" id="pass-change-form">
        <h1>{% trans "Set Password" %}</h1>
        <br />

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
          {% include "account/snippets/password_set_form.html" %}
          <br />
          <div class="form-group row">
            <div class="col-sm-12">
              <button type="submit" name="action" class="btn btn-primary btn-block">{% trans "Set Password" %}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
