{% extends "../layout.html" %}

{% load i18n %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-sm-10 col-md-6 col-lg-4">
<h1 class="text-center">{% trans "Sign Up" %}</h1>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div class="form-group">
      <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email address">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>  
  <div class="form-group">
      <input type="password" class="form-control" placeholder="Password">
    </div>
      
  <div class="form-group">
      <input type="password" class="form-control" placeholder="Password. Again.">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Sign up</button>

    {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
</form>

{% endblock %}
