ipdb
django==2.2.10
gunicorn==19.9.0
whitenoise==4.1.2
dj-database-url==0.5.0
psycopg2==2.7.7
django-allauth==0.38.0
django-widget-tweaks==1.4.3
djangorestframework==3.9.1
django-extensions==2.1.4
redis==3.2.0
django-simple-history==2.7.0
jsonfield==2.0.2
django-bootstrap-pagination==1.7.0
newrelic==4.12.0.113
raven==6.10.0
django-settings-export==1.2.1
oauth2client==4.1.3
authy==2.2.3
phonenumbers==8.10.5
twilio==6.24.1
celery[redis]==4.4.7
django-safedelete==0.5.1
Pillow==5.4.1
django-hijack==2.1.10
daphne==2.5.0
asgiref==3.2.10
# latest version of zope.interface is broken
zope.interface==4.7.2
channels==2.4.0
channels-redis==3.0.1
django-jstemplate==1.3.8
pushbullet.py==0.11.0
pytelegrambotapi==3.6.6
git+https://github.com/ivahotin/django-channels-presence.git
backoff==1.10.0
django-webpack-loader==0.7.0
django-qr-code==1.2.0
discord-webhook==0.8.0
bson==0.5.10
firebase-admin==4.4.0
django-cors-headers==3.6.0
